<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.jade.app.engine.base.mapper.UsrAppCollectionMapper">
    <resultMap id="BaseResultMap" type="modelengine.jade.app.engine.base.po.UsrAppCollectionPo">
        <result column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="usr_info" property="usrInfo"/>
    </resultMap>
    <resultMap id="AppBuilderAndCollectionResultMap" type="modelengine.jade.app.engine.base.po.UsrAppInfoAndCollectionPo">
        <result column="id" property="id"/>
        <result column="usr_info" property="usrInfo"/>
        <result column="app_id" property="appId"/>
        <result column="name" property="name"/>
        <result column="config_id" property="configId"/>
        <result column="flow_graph_id" property="flowGraphId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="type" property="type"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="attributes" property="attributes"/>
        <result column="state" property="state"/>
    </resultMap>

    <resultMap id="AppBuilderResultMap" type="modelengine.jade.app.engine.base.po.UsrAppInfoAndCollectionPo">
        <result column="id" property="appId"/>
        <result column="name" property="name"/>
        <result column="config_id" property="configId"/>
        <result column="flow_graph_id" property="flowGraphId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="type" property="type"/>
        <result column="version" property="version"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="attributes" property="attributes"/>
        <result column="state" property="state"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, app_id, usr_info
    </sql>

    <sql id="App_Column_List">
        id
        , name, config_id, flow_graph_id, tenant_id, type, version, attributes, state, create_by, create_at, update_by, update_at
    </sql>

    <insert id="insert" parameterType="modelengine.jade.app.engine.base.dto.UsrAppCollectionDto" useGeneratedKeys="true" keyProperty="id">
        insert into usr_collection_info (app_id, usr_info)
        values (#{appId}, #{usrInfo})
    </insert>

    <delete id="deleteByUsrInfoAndAppId">
        delete
        from usr_collection_info
        where usr_info = #{usrInfo}
        and app_id = #{appId}
    </delete>

    <delete id="deleteByAppId">
        delete
        from usr_collection_info
        where app_id = #{aippId}
    </delete>


    <select id="getCollectionsByUsrInfo" resultMap="BaseResultMap" resultType="modelengine.jade.app.engine.base.po.UsrAppCollectionPo">
        select
        <include refid="Base_Column_List"/>
        from usr_collection_info
        where usr_info = #{usrInfo}
    </select>

    <update id="updateCollectionUsrCntByAppId">
        update app_builder_app
        <set>
            collection_usr_cnt = collection_usr_cnt + #{collectionNum}
        </set>
        where id = #{appId}
    </update>

    <select id="getCollectionUsrCntByAppId" resultType="Integer">
        select collection_usr_cnt
        from app_builder_app
        where id = #{appId}
    </select>

    <select id="getAppInfoByUsrInfo" resultMap="AppBuilderAndCollectionResultMap" resultType="modelengine.jade.app.engine.base.po.UsrAppInfoAndCollectionPo">
        select
        usr.id, usr.usr_info, usr.app_id,
        app.name, app.config_id, app.flow_graph_id, app.tenant_id,
        app.type, app.version, app.create_by, app.create_at, app.update_by,
        app.update_at, app.attributes, app.state
        from usr_collection_info as usr
        left join app_builder_app as app
        on app.id = usr.app_id
        where usr.usr_info = #{usrInfo}
    </select>

    <select id="getDefaultAppInfo" resultMap="AppBuilderResultMap" resultType="modelengine.jade.app.engine.base.po.UsrAppInfoAndCollectionPo">
        select
        <include refid="App_Column_List"/>
        from app_builder_app
        where id = (select default_app from user_info where user_name = #{usrInfo})
    </select>
</mapper>