.list-filter-item {
  cursor: pointer;
  padding: 6px 10px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.filter-list-content {
  .active {
    background-color: #e7ecfa;
  }
}
.filter-list-content {
  max-height: 300px;
  overflow: auto;
}
.action-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.mr10 {
  margin-right: 10px;
}
.compare-box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.list-wrap {
  min-width: 100px;
  max-height: 350px;
  overflow: auto;
}