.docs-container {
  height: calc(100vh - 68px);
  position: absolute;
  top: 68px;
  width: 100%;
  padding: 24px 24px 8px 24px;
  box-sizing: border-box;
  border-radius: 24px 24px 0px 0px;
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0) 100%);
  display: flex;
  .docs-container-sider {
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid rgb(230, 230, 230);
    border-top-left-radius: 24px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 12px;
    .docs-container-title {
      text-align: left;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 4px 8px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-top: -1px;
      }
    }
    .docs-container-sider-content {
      height: calc(100% - 40px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    :global(.ant-layout-sider .ant-menu) {
      border: none;
      background-color: transparent;
    }
    :global(.ant-menu-submenu-title) {
      height: 32px;
      line-height: 32px;
      text-align: left;
    }
    :global(.ant-menu .ant-menu-submenu) {
      margin-top: 6px;
    }
    :global(.ant-menu-submenu-selected .ant-menu-submenu-title) {
      color: #333333;
      font-weight: 600;
    }
    :global(.ant-menu-item) {
      height: 32px;
      line-height: 32px;
      border-radius: 4px;
      width: 248px;
    }
    :global(.ant-menu-item-selected) {
      background: rgb(247, 247, 247);
      font-weight: 600;
      color: rgb(26, 26, 26);
    }
    :global(.ant-menu-item .ant-menu-title-content) {
      display: inline-block;
      width: 210px;
      text-align: left;
    }
  }
  .docs-container-content {
    width: calc(100% - 286px);
    background-color: #ffffff;
    border-top-right-radius: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
  }
}