.features-container {
    .feature-card {
        display: flex;
        background-color: #FBFBFB;
        padding: 32px;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        backdrop-filter: blur(4px);
        box-shadow: 0 4px 16px 0 rgba(101, 104, 132, 0.06);
        margin-bottom: 60px;
        gap: 32px;
        .feature-text {
            padding: 24px 36px;
            text-align: left;
            background-color: rgb(255, 255, 255);
            width: 50%;
            border-radius: 12px;
            box-shadow: 0 4px 16px 0 rgba(101, 104, 132, 0.06);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 8px;
                color: rgb(26, 26, 26);
            }
            .sub-title {
                margin-top: 16px;
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 8px;
                color: rgb(26, 26, 26);
            }
            .content {
                font-size: 14px;
                font-weight: 400;
                color: rgb(77, 77, 77);
                line-height: 24px;
            }
        }
        .feature-img {
            width: 50%;
            height: auto;
        }
        .feature-img-sm {
            display: none;
        }
    }
}

@media screen and (max-width: 828px) {
    .features-container {
        gap: 20px;
        .feature-card {
            display: flex;
            flex-direction: column;
            width: calc(100% - 40px);
            margin: 20px;
            padding: 16px;
            box-sizing: border-box;
            gap: initial;

            .feature-text {
                width: 100%;
                padding: 0;
                margin: 0;
                margin-top: 24px;
                background: initial;
                box-shadow: initial;
                border-radius: initial;
            }

            .feature-img {
                display: none;
            }

            .feature-img-sm {
                display: block;
            }

            .feature-img, .feature-img-sm {
                width: 100%;
                border-radius: 8px;
            }
        }
    }
}