<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.jade.carver.tool.repository.pgsql.mapper.ToolMapper">
    <resultMap id="Tool" type="com.huawei.jade.carver.tool.repository.pgsql.model.entity.ToolDo">
        <result column="id" property="id"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="unique_name" property="uniqueName"/>
        <result column="schema" property="schema"/>
        <result column="runnables" property="runnables"/>
        <result column="source" property="source"/>
        <result column="icon" property="icon"/>
        <result column="version" property="version"/>
        <result column="is_latest" property="isLatest"/>
    </resultMap>
    <insert id="addTool" parameterType="com.huawei.jade.carver.tool.repository.pgsql.model.entity.ToolDo">
        insert into store_tool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">"creator",</if> <if test="modifier != null">"modifier",</if> "name",
            <if test="description != null">"description",</if> "unique_name", "schema", "runnables",
            <if test="source != null">"source",</if> <if test="icon != null">"icon",</if>
            <if test="version != null">"version",</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">#{creator},</if> <if test="modifier != null">#{modifier},</if> #{name},
            <if test="description != null">#{description},</if> #{uniqueName}, cast(#{schema} as json),
            cast(#{runnables} as
            json),
            <if test="source != null">#{source},</if> <if test="icon != null">#{icon},</if>
            <if test="version != null">#{version},</if>
        </trim>
    </insert>
    <delete id="deleteTool" parameterType="String">
        delete
        from "store_tool"
        where unique_name = #{uniqueName};
    </delete>
    <delete id="deleteToolByVersion">
        delete
        from "store_tool"
        where unique_name = #{uniqueName}
        and version = #{version};
    </delete>
    <sql id="selectToolColumns">
        select i."creator", i."modifier", i."name", i."description", i."unique_name", i."schema", i."runnables", i."source", i."icon", i."version"
        from "store_tool" i
    </sql>
    <select id="getToolByUniqueName" resultMap="Tool">
        <include refid="selectToolColumns"/>
        where unique_name = #{uniqueName}
        and is_latest = true
    </select>
    <select id="getToolByVersion" resultMap="Tool">
        <include refid="selectToolColumns"/>
        where unique_name = #{toolUniqueName}
          and version = #{version}
    </select>
    <select id="getAllToolVersions" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery" resultMap="Tool">
        <include refid="selectToolColumns"/>
        where unique_name = #{toolName}
        <include refid="sortAndLimit"/>
    </select>
    <select id="getAllToolVersionsCount" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery">
        select count(i."creator")
        from "store_tool" i
        where i."unique_name" = #{toolName}
    </select>
    <sql id="getOrSearchSelect">
        <include refid="selectToolColumns"/>
                 left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                            from "store_tag" t
                            group by t."tool_unique_name") tg on i."unique_name" = tg."tool_unique_name"
    </sql>
    <sql id="getCount">
        select count(i."creator")
        from "store_tool" i
                 left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                            from "store_tag" t
                            group by t."tool_unique_name") tg on i."unique_name" = tg."tool_unique_name"
    </sql>
    <sql id="getOrSearchConditions">
        and i."is_latest" = true
        <if test="includeTags != null and includeTags.size() > 0">
            and tg.tags is not null
            and (
            <foreach collection="includeTags" item="tag" open="" close="" separator=" and ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
        </if>
        <if test="excludeTags != null and excludeTags.size() > 0">
            and ( tg.tags is null
            or not (
            <foreach collection="excludeTags" item="tag" open="" close="" separator=" or ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
            )
        </if>
    </sql>
    <sql id="sortAndLimit">
        order by i.updated_time desc
        <if test="offset != null and offset >= 0">
            offset #{offset}
        </if>
        <if test="limit != null and limit > 0">
            limit #{limit}
        </if>
    </sql>
    <select id="getTools" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery" resultMap="Tool">
        <include refid="getOrSearchSelect"/>
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."name" = #{toolName}
            </if>
        </where>
        <include refid="sortAndLimit"/>
    </select>
    <select id="searchTools" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery" resultMap="Tool">
        <include refid="getOrSearchSelect"/>
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."name" ilike '%' || #{toolName} || '%'
            </if>
        </where>
        <include refid="sortAndLimit"/>
    </select>
    <select id="getToolsCount" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery">
        <include refid="getCount"/>
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."name" = #{toolName}
            </if>
        </where>
    </select>
    <select id="searchToolsCount" parameterType="com.huawei.jade.carver.tool.model.query.ToolQuery">
        <include refid="getCount"/>
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."name" ilike '%' || #{toolName} || '%'
            </if>
        </where>
    </select>
    <update id="setNotLatest">
        update "store_tool"
        set "is_latest" = false
        where "unique_name" = #{toolUniqueName}
        and "is_latest" = true
    </update>
</mapper>