.app_card_root {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -2px;
  margin-bottom: 10px;
  * {
    box-sizing: border-box;
  }
  width: 100%;
  height: 100%;
  padding: 24px;
  padding-bottom: 16px;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .app_card_header {
    display: flex;
    align-items: center;
    .img_box {
      width: 48px;
      flex-shrink: 0;
      height: 48px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
    .infoArea {
      font-size: 14px;
      color: rgba(5, 5, 5, .96);
      margin-left: 16px;
      .headerTitle {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        .header-text {
          max-width: 240px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          cursor: pointer;
        }
        .header-tag {
          margin-left: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background-color: rgb(242, 242, 242);
        }
      }
      .title_info {
        display: flex;
        align-items: center;
        .createBy {
          font-size: 12px;
          color: #4d4d4d;
          margin-left: 5px;
          cursor: pointer;
        }
        img {
          border-radius: 50%;
        }
      }

    }
  }
  .app_card_body {
    word-break: break-all;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    margin-top: 16px;
    color: rgb(77, 77, 77);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .app_card_footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    .left {
      display: flex;
      align-items: center;
      .icon_box {
        margin-right: 40px;
        cursor: pointer;
        color: rgb(94, 103, 116);
      }
      .status {
        border-radius: 10px;
        width: 52px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        &.active {
          color: rgb(0, 179, 54);
          background-color: rgb(174, 228, 190, 0.5);
        }
        &.activing {
          color: #2673E5;
          background-color: rgba(38, 115, 229, 0.06);
        }
        &.inactive {
          color: #4D4D4D;
          background-color: #F0F2F4;
        }
      }
    }
  }
}
.app-card-menu {
  .menu-items {
    width: 90px;
  }
}