.graph-detail {
  width: 100%;
  position: relative;
  .header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 99;
    top: 12px;
  }
  .header-left {
    display: flex;
    align-items: center;
    .icon-back {
      margin-right: 8px;
      svg {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
    .header-text {
      font-weight: 700;
      font-size: 16px;
    }
  }
  .header-right {
    color: #333333;
    .header-text {
      display: inline-block;
      margin-left: 20px;
    }
  }
  #stageDetail {
    height: calc(100vh - 56px);
    position: relative;
  }
}