{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "one-var-declaration-per-line": "initializations"
}
