.tab-content {
  height: calc(100vh - 160px);
  padding-right: 15px;
  padding-bottom: 60px;
  overflow: auto;
  .content-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .inner-box {
      display: flex;
      justify-content: space-between;
      .details-content {
        display: flex;
        gap: 16px;
        .detail-footer {
          display: flex;
          gap: 20px;
          .icon {
            display: flex;
            align-items: center;
            gap: 8px;
          }
          .create {
            display: flex;
            gap: 8px;
          }
          .app-id {
            display: flex;
            align-items: center;
            gap: 4px;
          }
        }
      }
    }
    .remarks-content {
      display: flex;
      gap: 24px;
    }
  }
}

.font-size-24 {
  font-size: 24px;
}
.details-content {
  flex-grow: 1;
  width: 0;
}
.detail-name {
  width: 100%;
  display: flex;
  align-items: center;
  .text {
    max-width: 80%;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .status-tag {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 12px;
    img {
      margin-right: 8px;
    }
  }
}
.app-desc {
  word-break: break-all;
}
.remarks {
  display: flex;
  .left {
    width: 90px;
  }
  .right {
    flex: 1;
    word-break: break-all;
  }
}