.tab-content{
    padding: 8px 16px;
}

.font-size-24 {
    font-size: 24px;
}
.details-content {
  flex-grow: 1;
  width: 0;
}
.detail-name {
  width: 100%;
  display: flex;
  align-items: center;
  .text {
    max-width: 80%;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .status-tag {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 12px;
    img {
      margin-right: 8px;
    }
  }
}
.app-desc {
  display: -webkit-box;
  overflow: hidden;
  white-space: normal !important;
  text-overflow: ellipsis;
  word-wrap:break-word;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical
}
.remarks {
  display: flex;
  .left {
    width: 90px;
  }
  .right {
    flex: 1;
    display: -webkit-box;
    overflow: hidden;
    white-space: normal !important;
    text-overflow: ellipsis;
    word-wrap:break-word;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
  }
}
