.ck-heading_heading1 {
    width: 100%;
}

.ck-heading_heading2 {
    width: 100%;
}

.ck-heading_heading3 {
    width: 100%;
}

.ck-heading_heading4 {
    width: 100%;
}

.ck-heading_heading5 {
    width: 100%;
}