.plugin-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.plugin-item {
  width: 400px;
  height: 250px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-image: url(/src/assets/images/knowledge/knowledge-background.png);
  background-size: cover;

  &-header {
    display: flex;
    align-items: center;
    gap: 16px;

  }

  &-title-1 {
    font-size: 20px;
    margin-bottom: 24px;
  }

  &-content {
    flex: 1;
    color: #808080;
  }

  &-footer {
    border-top: 1px solid #f2f2f2;
    padding-top: 16px;
    color: #808080;

    &-left {
      display: flex;
      gap: 24px;
    }
  }
}

.plugin-market {
  padding-top: 0px;
}
