<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.fit.jober.aipp.mapper.AppBuilderRuntimeInfoMapper">
    <resultMap id="BaseResultMap" type="modelengine.fit.jober.aipp.po.AppBuilderRuntimeInfoPo">
        <result column="id" property="id"/>
        <result column="trace_id" property="traceId"/>
        <result column="flow_definition_id" property="flowDefinitionId"/>
        <result column="instance_id" property="instanceId"/>
        <result column="node_id" property="nodeId"/>
        <result column="node_type" property="nodeType"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="published" property="published"/>
        <result column="error_msg" property="errorMsg"/>
        <result column="next_position_id" property="nextPositionId"/>
        <result column="parameters" property="parameters"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        trace_id,
        flow_definition_id,
        instance_id,
        node_id,
        node_type,
        start_time,
        end_time,
        status,
        published,
        error_msg,
        next_position_id,
        parameters,
        create_by,
        create_at,
        update_by,
        update_at
    </sql>

    <insert id="insertOne" parameterType="modelengine.fit.jober.aipp.po.AppBuilderRuntimeInfoPo">
        insert into app_builder_runtime_info (
            trace_id,
            flow_definition_id,
            instance_id,
            node_id,
            node_type,
            start_time,
            end_time,
            status,
            published,
            error_msg,
            next_position_id,
            parameters,
            create_by,
            create_at,
            update_by,
            update_at
        ) values (
            #{traceId},
            #{flowDefinitionId},
            #{instanceId},
            #{nodeId},
            #{nodeType},
            #{startTime},
            #{endTime},
            #{status},
            #{published},
            #{errorMsg},
            #{nextPositionId},
            #{parameters}::jsonb,
            #{createBy},
            #{createAt},
            #{updateBy},
            #{updateAt}
        )
    </insert>

    <select id="selectByTraceId"
            resultMap="BaseResultMap"
            resultType="modelengine.fit.jober.aipp.po.AppBuilderRuntimeInfoPo">
        select
        <include refid="Base_Column_List"/>
        from app_builder_runtime_info
        where trace_id = #{traceId}
        order by start_time asc
    </select>

    <select id="getExpiredRuntimeInfos" resultType="long">
        SELECT
        id
        from app_builder_runtime_info
        where
        status != 'RUNNING'
        AND update_at <![CDATA[ < ]]>
        NOW()::TIMESTAMP - (#{expiredDays} || ' day')::INTERVAL
        LIMIT #{limit};
    </select>

    <delete id="deleteRuntimeInfos">
        DELETE
        FROM app_builder_runtime_info
        where id in
        <foreach collection="runtimeInfoIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>