<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.fit.jober.aipp.mapper.AppBuilderConfigMapper">
    <resultMap id="BaseResultMap" type="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        <result column="id" property="id"/>
        <result column="form_id" property="formId"/>
        <result column="app_id" property="appId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, form_id, app_id, tenant_id, create_by, create_at, update_by, update_at
    </sql>

    <select id="selectWithId" resultMap="BaseResultMap"
            resultType="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        select
        <include refid="Base_Column_List"/>
        from app_builder_config
        where id = #{id} and is_deleted = 0
    </select>

    <select id="selectWithIds" resultMap="BaseResultMap"
            resultType="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        select
        <include refid="Base_Column_List"/>
        from app_builder_config
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and is_deleted = 0
    </select>

    <insert id="insertOne" parameterType="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        insert into app_builder_config ( <include refid="Base_Column_List"/> )
        values (#{id}, #{formId}, #{appId}, #{tenantId}, #{createBy}, #{createAt}, #{updateBy}, #{updateAt})
    </insert>

    <update id="updateOne" parameterType="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        update app_builder_config
        <set>
            <if test="formId != null" >
                form_id = #{formId},
            </if>
            <if test="appId != null" >
                app_id = #{appId},
            </if>
            <if test="tenantId != null" >
                tenant_id = #{tenantId},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectWithAppId" resultMap="BaseResultMap"
            resultType="modelengine.fit.jober.aipp.po.AppBuilderConfigPo">
        select
        <include refid="Base_Column_List"/>
        from app_builder_config
        where app_id = #{appId} and is_deleted = 0
    </select>

    <update id="delete" parameterType="java.util.List">
        UPDATE app_builder_config
        set is_deleted = 1
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>