*,
*::before,
*::after {
  box-sizing: border-box;
}

/*整个滚动条*/
::-webkit-scrollbar {
  height: 6px;
}

/*水平的整个滚动条*/
::-webkit-scrollbar:horizontal {
  height: 6px;
}

/*水平的滑块*/
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
  background: #cccccc;
  cursor: pointer;
}

/*垂直的整个滚动条*/
::-webkit-scrollbar:vertical {
  width: 5px;
}

/*垂直的滑块*/
::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  background: #cccccc;
  cursor: pointer;
}
#chat-list-dom::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  background: #cccccc !important;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  cursor: pointer;
}

html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  --antd-wave-shadow-color: #25b864;
  --scroll-bar: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: overlay;
}

body {
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
  font-size: 14px;
  font-variant: tabular-nums;
  .ant-model-root,
  .layout-container,
  .ant-drawer {
    font-family: 'HarmonyOS Sans SC', 微软雅黑, Arial !important;
  }
  line-height: 1.5;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  width: 100%;
  background: #fafafa;
  scroll-behavior: smooth;
  color: #070709;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:where(.css-dev-only-do-not-override-1drr2mu).buttonDroup.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
:where(.css-dev-only-do-not-override-1drr2mu).buttonDroup.ant-radio-button-wrapper:not(:first-child) {
  border-left-width: 1px;
}

a {
  color: #6c92fa;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid #eee;
  color: #8c8c8c;
}

input {
  box-sizing: border-box;
  font-size: 0.85em;
  padding: 0.5em;
  border-radius: 3px;
  border: 0;
  outline: none;
  border: 1px solid #ddd;
}

input:focus {
  border: 0;
  outline: none;
  border: 1px solid #ddd;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace, sans-serif;
  font-size: 14px !important;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: inherit;
  text-indent: 0;
  color: #404040;
  letter-spacing: 0.008em;
  outline-style: none;
  white-space: pre-wrap;
}

textarea {
  overflow: auto;
  resize: vertical;
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.tree-inner {
  .ant-tree-switcher {
    width: 12px;
  }
  .ant-tree-title {
    padding: 0 6px;
  }
}
.ant-layout {
  background: #fff;
}
.ant-tag {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.container {
  padding: 0;
}
.ant-input-search-button {
  margin: 0 !important;
}
.text-editer-center {
  display: flex;
  align-items: center;
  * {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 8px;
  }
}
.drop-tree-menu {
  .ant-tree {
    background: transparent !important;
  }
}