.config-form-wrap {
  height: 100%;
  flex-shrink: 0;
  width: 500px;
  padding: 20px;
  padding-right: 0;
  background-color: #ffffff;
  border-radius: 8px;
  .config-form {
    height: 100%;
    overflow: auto;
    width: 100%;
    padding-right: 15px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    .config-title {
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0;
      margin-bottom: 20px;
      .config-left {
        >span {
          &:last-child {
            .line {
              width: 0;
            }
          }
        }
        .text {
          font-size: 14px;
          font-weight: 400;
          color: rgb(77, 77, 77);
          cursor: pointer;
          border-bottom: 1px solid transparent;
          padding-bottom: 4px;
        }
        .line {
          display: inline-block;
          width: 1px;
          height: 10px;
          background: #d9d9d9;
          margin: 0 16px;
        }
        .active {
          .text {
            color: #2673e5;
            border-bottom-color: #2675e5;
          }
        }
      }
      .config-btn {
        cursor: pointer;
        font-size: 12px;
        color: #2673e5;
        display: flex;
        align-item: center;
        img {
          width: 16px;
          height: 16px;
          margin-right: 6px;
        }
      }
    }
  }
  .config-form-elsa {
    width: 350px;
    box-shadow: 5px 0 10px -10px rgba(0, 0, 0, 0.2);
  }
  .icon {
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2rem;
    vertical-align: -0.1rem;
    fill: currentColor;
    overflow: hidden;
  }
}


.splitter-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
}

.splitter-collapse {
  position: absolute;
  left: 100%;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  width: 12px;
  height: 30px;
  background: #d9d9d9;
  z-index: 15;

  &::before, &::after  {
    display: block;
    content: '';
    width: 10px;
    height: 2px;
    background: #FFF;
    position: absolute;

  }

  &::before {
    top: 9px;
    left: 1px;
    transform: rotate(-70deg);
  }

  &::after {
    top: 18px;
    left: 1px;
    transform: rotate(70deg);
  }
}

.splitter-collapse.collapsed::before {
  transform: rotate(70deg);
}

.splitter-collapse.collapsed::after {
  transform: rotate(-70deg);
}

.splitter-bar:hover {
  .splitter-collapse {
    background: #1890ff;
  }
}

.hidden {
  display: none;
}

@media only screen and (max-width: 2000px) {
  .config-form-wrap {
    width: 450px;
  }
}
@media only screen and (max-width: 1700px) {
  .config-form-wrap {
    width: 400px;
  }
}
@media only screen and (max-width: 1500px) {
  .config-form-wrap {
    width: 350px;
  }
}