<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.fit.waterflow.flowsengine.persist.mapper.FlowTraceMapper">
    <resultMap id="objectMap"
               type="modelengine.fit.waterflow.flowsengine.persist.po.FlowTracePO">
        <id column="trace_id" property="traceId"/>
        <result column="stream_id" property="streamId"/>
        <result column="operator" property="operator"/>
        <result column="application_name" property="application"/>
        <result column="start_node" property="startNode"/>
        <result column="context_pool" property="contextPool"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="table">flow_trace</sql>

    <sql id="columns">trace_id
    , stream_id, operator, application_name, start_node, context_pool, start_time, end_time, status</sql>

    <insert id="create">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES(#{flowTrace.traceId},
        #{flowTrace.streamId},
        #{flowTrace.operator},
        #{flowTrace.application},
        #{flowTrace.startNode},
        #{flowTrace.contextPool},
        #{flowTrace.startTime},
        #{flowTrace.endTime},
        #{flowTrace.status}
        )
    </insert>

    <update id="update">
        UPDATE
        <include refid="table"/>
        SET
        context_pool = #{flowTrace.contextPool},
        end_time = #{flowTrace.endTime},
        status = #{flowTrace.status}
        WHERE
        trace_id = #{flowTrace.traceId}
    </update>

    <select id="find" resultMap="objectMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE trace_id = #{traceId}
    </select>

    <select id="findByTraceIdList" resultMap="objectMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE
        trace_id in
        <foreach item="traceId" index="index" collection="traceIds" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </select>

    <select id="findByIdList" resultMap="objectMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE trace_id IN
        <foreach item="traceId" collection="traceIds" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </select>

    <update id="delete">
        DELETE FROM
        <include refid="table"/>
        WHERE stream_id = #{streamId}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="flowTrace" separator=";">
            UPDATE
            <include refid="table"/>
            SET
            end_time = #{flowTrace.endTime},
            merged_to = #{flowTrace.mergedTo}
            WHERE
            trace_id = #{flowTrace.traceId}
        </foreach>
    </update>

    <insert id="batchCreate" parameterType="java.util.List">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES
        <foreach collection='list' item='flowTrace' separator=','>
            (#{flowTrace.traceId},
            #{flowTrace.streamId},
            #{flowTrace.operator},
            #{flowTrace.application},
            #{flowTrace.startNode},
            #{flowTrace.curNodes},
            #{flowTrace.startTime},
            #{flowTrace.endTime},
            #{flowTrace.mergedTo},
            #{flowTrace.status})
        </foreach>
    </insert>


    <update id="updateContextPool">
        UPDATE
        <include refid="table"/>
        SET
        context_pool = #{contextPool}
        WHERE
        trace_id = #{traceId}
    </update>

    <update id="updateStatus">
        UPDATE
        <include refid="table"/>
        SET
        status = #{status},
        end_time = #{endTime}
        WHERE
        trace_id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND
        status NOT IN
        <foreach item="exclusiveStatus" collection="exclusiveStatus" open="(" separator="," close=")">
            #{exclusiveStatus}
        </foreach>
    </update>

    <select id="findRunningTrace" resultType="string">
        SELECT
        trace_id
        FROM
        <include refid="table"/>
        WHERE
        status = 'RUNNING'
        AND application_name IN
        <foreach item="item" index="index" collection="applications" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <delete id="deleteByIdList">
        DELETE FROM
        <include refid="table"/>
        WHERE trace_id IN
        <foreach item="traceId" collection="traceIds" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </delete>

    <select id="getExpiredTrace" resultType="string">
        SELECT
        trace_id
        FROM
        <include refid="table"/>
        WHERE
        status != 'RUNNING'
        AND end_time &lt; #{expiredDays}
        LIMIT #{limit};
    </select>
</mapper>