.app-test {
  padding: 40px;
  padding-left: 200px;
  .inner {
    width: 500px;
    display: flex;
    .left {
      width: 50px;
      margin: 35px 0;
      margin-right: 12px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 8px;
      border: 1px solid #cccccc;
      border-right: none;
      position: relative;
      .opration {
        position: absolute;
        top: calc(50% - 15px);
        left: -30px;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        width: 60px;
        height: 30px;
        line-height: 30px;
        background-color: #ffffff;
        border-radius: 4px;
        border: 1px solid #cccccc;
      }
    }
    .right {
      flex-grow: 1;
      .item {
        height: 30px;
        border: 1px solid #cccccc;
        margin: 20px 0;
      }
    }
  }
}