.debug-container {
  position: absolute;
  right: 0;
  top: 48px;
  width: 456px; 
  padding: 24px 0 24px 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 0 #ccc7c7;
  height: calc(100vh - 120px);
  pointer-events: auto;
  .debug-title {
    font-weight: 700;
    font-size: 16px;
  }
  .tips {
    margin: 8px 0px;
    color: #4D4D4D;
  }
  .close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }
  .debug-content {
    height: calc(100% - 65px);
    overflow: auto;
    padding-right: 24px;
    .debug-item {
      padding: 12px 16px;
      background-color: #FAFAFA;
      border: 1px solid #FAFAFA;
      border-radius: 8px;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &.chose {
        border: 1px solid #2673E5;
      }
      .node-name {
        margin-left: 8px;
      }
      .title {
        color: #252B3A;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
      .workflow-item {
        display: flex;
        color: #4D4D4D;
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
    .basic-item {
      display: flex;
      padding: 8px;
      background-color: #FAFAFA;
      border: 1px solid #FAFAFA;
      border-radius: 4px;
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &.chose {
        border: 1px solid #2673E5;
      }
    }
  }
}