.chat-preview {
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  border-top-right-radius: 8px;
  .chat-preview-title {
    font-weight: 700;
    font-size: 20px;
  }

  .chat-tips {
    margin-top: 16px;
    margin-bottom: 10px;
    color: #808080;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 0 48px;
    position: absolute;
    bottom: 0;
    width: 100%;
    .switch-item {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      span {
        padding-left: 10px;
      }
      .ant-switch {
        .ant-switch-checked {
          background-color: #0478fc;
        }
      }
    }
  }
}
.chat-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% - 30px);
  display: flex;
  margin: 20px 20px 0 20px;
  border-radius: 6px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .chat-inner-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: width .2s;
    overflow-x: auto;
  }

  .chat-left-close {
    width: calc(100% - 360px);
  }

  .chat-inner-right {
    width: 360px;
    position: fixed;
    right: -355px;
    z-index: 600;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    transition: width .2s;
    //font-family: '苹方-简';

    .inspiratio-tag {
      width: 16px;
      height: 42px;
      cursor: pointer;
      position: absolute;
      top: calc(50% - 21px);
      left: -16px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;

      img {
        width: 18px;
        height: 18px;
        transform: rotate(180deg);
        transition: .2s;
      }

      .img-trans {
        transform: rotate(0deg);
      }
    }
  }

  .chat-right-close {
    right: 16px;
  }
}

.chat-page-inner {
  background-color: #ffffffbf;
  margin: 0;
  width: 100%;
  .chat-inner-left {
    position: relative;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .chat-inner-right {
    width: 360px;
    position: fixed;
    background-color: unset;
    transition: right .2s;
    right: -355px;

    .inspiratio-tag {
      background-color: #ffffff;
    }
  }

  .chat-right-close {
    width: 360px;
    right: 16px;
    background-color: #f4f9fd;
  }
  .chat-left-close {
    width: calc(100% - 365px);
  }
}

.chat-preview-elsa {
  width: 900px;
  transition: margin-right .2s;
  position: relative;
  .chat-inner {
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: calc(100vh - 55px);
    .chat-inner-left {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .chat-inner-right {
      background-color: #ffffff;
    }
  }
  .chat-details-content,
  .message-box {
    padding: 0 24px;
  }

  .send-editor-container {
    position: relative;
    >div {
      padding: 0 24px;
    }
  }

  .chat-left-close {
    width: 100%;
  }

  .icon-back {
    position: absolute;
    left: 12px;
    top: 20px;
    z-index: 999;

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }
}

.chat-preview-mr {
  margin-right: 300px;
}

.chat-preview-inner {
  .chat-right-close {
    height: calc(100vh - 100px);
    .prompt-item {
      .title {
        font-weight: 600 !important;
        font-size: 13px;
      }
    }
  }
}
.chat-inner {
  .chat-details-content,
  .send-editor-container,
  .message-check-toolbox-wrap,
  .message-box {
    width: calc(100% - 260px);
    max-width: 1400px;
    min-width: 700px;
  }
  .chat-left-close {
    .chat-details-content,
    .message-box,
    .send-editor-container,
    .message-check-toolbox-wrap {
      width: calc(100% - 260px);
      max-width: 1200px;
      min-width: 700px;
    }
  }
}
.chat-preview-elsa {
  .chat-details-content,
  .send-editor-container,
  .message-check-toolbox-wrap,
  .message-box {
    width: calc(100% - 60px);
    min-width: 700px;
  }
  .chat-left-close {
    .chat-details-content,
    .message-box,
    .send-editor-container,
    .message-check-toolbox-wrap {
      width: calc(100% - 60px);
      min-width: 700px;
    }
  }
}