.receive-box {
  margin: 20px 0;
  margin-bottom: 0;
  position: relative;
  .receive-info-inner {
    display: inline-block;
    max-width: 100%;
    border-radius: 10px;
    font-family: '微软雅黑' !important;
    background-color: #fff;
    word-break: break-all;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    &:hover {
      .message-tip-box-send {
        width: max-content;
        display: flex;
        align-items: center;
      }
      .feed-inner {
        .feed-right {
          text-align: right;
        }
      }
    }
  }
  .receive-info {
    color: #000000;
    font-weight: 400;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 24px 24px 24px 0px;
    font-size: 14px;
    line-height: 25px;
    > div {
      width: 100%;
      img {
        max-width: 100%;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre {
      margin: 12px 0;
      width: 100%;
    }
    p {
      margin: 0;
      white-space: pre-wrap;
    }
    pre {
      padding: 12px;
      border-radius: 4px;
      background-color: #333333;
      margin: 0;
      code {
        color: #cccccc;
      }
    }
    .receive-multi-list {
      .receive-multi-item {
        margin: 6px 0;
        .receive-multi-title {
          font-size: 12px;
          color: rgb(37, 43, 58);
          display: flex;
          align-items: center;
          cursor: pointer;
          line-height: 28px;
          span {
            margin-left: 8px;
          }
        }
        .arrow {
          transform: rotate(270deg);
          transition: all 0.2s;
          width: 14px;
          height: 14px;
          margin-top: 2px;
        }
        .receive-multi-content {
          color: rgb(128, 128, 128);
          height: 0;
          overflow: hidden;
        }
      }
      .receive-multi-active {
        .receive-multi-content {
          height: auto;
        }
        .arrow {
          transform: rotate(0deg);
        }
      }
      .multi-finished {
        font-size: 12px;
        color: rgb(37, 43, 58);
      }
    }
    .receive-info-html {
      overflow: auto;
      table {
        width: 100%;
        border: 1px solid #dedede;
        margin: 15px auto;
        border-collapse: collapse;
        empty-cells: show;
      }
      table th,
      table td {
        height: 35px;
        border: 1px solid #dedede;
        padding: 0 10px;
      }
      table th {
        font-weight: bold;
        text-align: center !important;
        background: rgba(158, 188, 226, 0.2);
      }
      table tbody tr:nth-child(2n) {
        background: rgba(158, 188, 226, 0.12);
      }
      table tr:hover {
        background: #efefef;
      }
      table th {
        white-space: nowrap;
      }
      table td {
        white-space: nowrap;
      }
    }
    .receive-tips {
      font-size: 12px;
      color: #71757f;
    }
    .feed-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: unset;
      margin-top: 8px;
    }
  }
  .receive-info-remote {
    width: 100%;
    background-color: #ffffff;
    padding: 16px 12px;
    box-sizing: border-box;
  }
  .receive-form-item {
    width: 100%;
  }
  .receive-loading {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px 24px 24px 0px;
    width: 150px;
    height: 25px;
  }
  .user-image {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    line-height: normal;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 16px;
    }
    span {
      font-size: 16px;
      color: #1a1a1a;
      font-weight: 600;
      display: inline-block;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .message-tip-box-send {
    position: absolute;
    right: 0;
    top: -30px;
    color: #888888;
    font-size: 12px;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 4px 7px 0px rgba(56, 89, 149, 0.2);
    border-radius: 8px;
    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      &>div {
        cursor: pointer;
        margin: 0 10px;
      }
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .app-error-form {
    background-color: #fff;
    border-radius: 24px 24px 24px 0px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 25px;
  }
}
.check-box {
  position: absolute;
  left: 15px;
}
.loading-span {
  animation: 0.7s van-cursor-flicker infinite;
  display: inline-block;
  width: 1.5px;
  margin-left: 8px;
  height: 16px;
  background-color: #2673e5;
}
@keyframes van-cursor-flicker {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.receive-loading {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
}
.receive-loading > div {
  width: 8px;
  height: 8px;
  background-color: #2673e5;
  margin-right: 4px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  &:last-of-type {
    margin-right: 0;
  }
}
.receive-loading .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.receive-loading .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes load_41 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load_43 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes load_42 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
