.send-editor-container {
  margin: 0 auto;
  position: relative;
  flex-shrink: 0;
  height: 250px;
  .editor-stop {
    position: absolute;
    top: -40px;
    left: calc(50% - 62px);
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #0478fc;
    border-radius: 16px;
    padding: 6px 24px;
    font-size: 12px;
    color: #2673E5;
    img {
      margin-right: 8px;
      width: 20px;
      height: 20px;
    }
  }
  .editor-inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 48px;
    border-radius: 8px;
    position: absolute;
    bottom: 40px;
    z-index: 99;
    .editor-icon {
      cursor: pointer;
      margin-right: 12px;
      width: 18px;
      svg {
        width: 100%;
        height: 18px;
      }
    }

    .input-file-list {
      padding: 0 24px;
      background-color: #fff;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .editor-guess {
      margin-bottom: 24px;
      position: relative;
      &-header {
        display: flex;
        gap: 12px;
        margin-bottom: 24px;
      }
      &-title {
        font-size: 16px;
        font-weight: bold;
      }
      &-change {
        color: #808080;
        font-size: 12px;
        cursor: pointer;
      }
      &-questions {
        display: flex;
        flex-wrap: wrap;
      }
      &-question-item {
        padding: 12px 24px;
        border-radius: 24px;
        margin-right: 8px;
        border: 1px solid #1677ff;
        background-color: #f5f8fd;
        color: #0478fc;
        cursor: pointer;
      }
      .editor-open-inspiration {
        position: absolute;
        bottom: 0;
        right: 0;
        &-avatar {
          background-color: #fff;
          cursor: pointer;
        }
      }
    }
    .editor-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      width: 100%;
      background-color: #f8f8ff;
      padding: 4px 12px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: #96979b;
    }
    .editor-action-dropdown {
      cursor: pointer;
      &:hover {
        color: #0478fc;
      }
    }
    .editor-action-item {
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: #0478fc;
      }
    }
    .editor-recording {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: #f2f5f8;
      color: #71757f;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .editor-input {
      width: 100%;
      background-color: #fff;
      border: 1px solid transparent;
      position: relative;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .chat-promet-editor {
        box-sizing: border-box;
        line-height: 1.42;
        max-height: 240px;
        outline: none;
        overflow-y: auto;
        padding: 30px 15px;
        tab-size: 4;
        -moz-tab-size: 4;
        text-align: left;
        white-space: pre-wrap;
        word-wrap: break-word;
        border-radius: 16px;
        padding-right: 120px;
        padding-left: 20px;
        line-height: 25px;
        min-height: 85px;
        &:focus {
          border-color: #0478fc;
        }
        .block-text {
          display: block;
        }
        .important-text {
          padding: 2px 8px;
          background-color: #e9edfa;
          border-radius: 5px;
          &:hover {
            background-color: #fff;
            border: 1px solid #0478fc;
          }
          &:focus {
            background-color: #fff;
            border: 1px solid #0478fc;
          }
        }
        .important-text.focus-text {
          background-color: #fff;
          border: 1px solid #0478fc;
        }
        .select-html {
          display: flex;
          width: 80%;
          margin: 8px 0;
          flex-wrap: wrap;
          div {
            line-height: 24px;
            width: 100%;
          }
        }
      }
      .chat-promet-editor[contenteditable]:empty:not(:focus):before {
        content: attr(placeholder);
        color: rgb(128, 128, 128);
        pointer-events: none;
      }
      .send-icon {
        position: absolute;
        right: 26px;
        bottom: 18px;
        .send-btn {
          width: 48px;
          height: 48px;
          background-repeat: no-repeat;
          background-position: center;
          &.active-btn {
            cursor: pointer;
          }
        }
      }
      .send-num {
        position: absolute;
        color: #777777;
        font-size: 12px;
        bottom: 6px;
        right: 76px;
      }
      .audio-icon {
        position: absolute;
        left: 24px;
        bottom: 24px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #F2F6FC;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .clear-icon {
        cursor: pointer;
        right: 90px;
        bottom: 25px;
      }
    }
  }
  .send-editor-btn {
    display: flex;
    padding: 0 48px;
    margin-bottom: 12px;
    justify-content: space-between;
    .quill-item-inner {
      display: flex;
    }
    .quill-item-span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110px;
      height: 32px;
      text-align: center;
      background-color: #ffffff;
      border-radius: 6px;
      color: #252B3A;
      border: 1px solid #dedee1;
      font-size: 12px;
      cursor: pointer;
      img {
        margin-right: 8px;
        width: 16px;
        height: 16px;
      }
      &:hover {
        border-color: #0478fc;
      }
      &:active {
        border-color: #0478fc;
        background-color: rgb(230, 242, 255);
      }
    }
    .quill-item-phone {
      margin-left: 8px;
    }
    .quill-span {
      margin-right: 8px;
    }
    .quill-last {
      margin-right: 0;
    }
    .recording {
      background-color: rgb(230, 242, 255);
      border-color: rgb(4, 123, 252);
      .record-seconds {
        display: inline-block;
        padding: 0 10px;
      }
      .record-radius {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(246, 111, 106);
        animation: .8s van-cursor-flicker infinite;
      }
      @keyframes van-cursor-flicker {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.8;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .audioing {
      width: 120px;
      justify-content: flex-start;
      padding-left: 12px;
      .record-seconds {
        padding: 0 10px;
      }
    }
  }
  .send-editor-mask {
    height: 250px;
    position: absolute;
    padding: 0 48px;
    box-sizing: border-box;
    left: 0;
    top: -30px;
    z-index: 999;
    width: 100%;
    border-radius: 8px;
    .mask-inner {
      position: absolute;
      bottom: 40px;
      left: 80px;
      color: #333333;
      .mask-link {
        padding: 0 4px;
        cursor: pointer;
        color: #2673E5;
      }
    }
  }
}
.chat-focus {
  display: inline-block !important;
  min-height: 22px;
  max-width: 200px;
  padding: 0 6px;
  margin: 0 4px;
  border-radius: 4px;
  line-height: 22px;
  background: #edf2fa;
  word-break: break-all;
  outline: none;
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-select-content {
  position: fixed;
  z-index: 999;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 6px 12px;
  display: none;
  line-height: 30px;
  background: #ffffff;
  border: 1px solid #dedee1;
  .select-inner-item {
    border-bottom: 1px solid #dedee1;
    color: #222;
    list-style: none;
    padding-left: 8px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: nowarp;
    cursor: pointer;
    &:last-child {
      border: none;
    }
    .check-span,
    .normal-span {
      font-size: 12px;
      width: 100%;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
}
.dom-chat {
  border: 1px solid rgba(19, 112, 255, 1) !important;
  background: #ffffff !important;
}
.recommends-inner {
  padding: 0 48px;
  color: #1A1A1A;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  z-index: 99;
  width: 100%;
  margin-bottom: 24px;
  .recommends-top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    .title {
      font-weight: 600;
      font-size: 14px;
      margin-right: 8px;
      color: #000000;
    }
    .refresh-content {
      display: flex;
      align-items: center;
      &:hover {
        color: #2673E5;
        path {
          fill: #2673E5;
        }
      }
    }
    .refresh {
      margin-left: 12px;
      cursor: pointer;
    }
  }
  .recommends-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .list-left {
      display: flex;
      flex-wrap: wrap;
      padding-right: 48px;
      gap: 12px;
    }
    .list-right {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
      cursor: pointer;
      border-radius: 50%;
      flex-shrink: 0;
      box-shadow: 0 2px 9px rgba(26, 26, 26, 0.15);
      &:hover {
        path {
          fill: #0478fc;
        }
      }
      .active {
        path{
          fill: #0478fc;
        }
      }
    }
    .recommends-item {
      background: #ffffff;
      border-radius: 28px;
      box-sizing: border-box;
      padding: 6px 12px;
      cursor: pointer;
      font-size: 12px;
      color: rgb(77, 77, 77);
      text-align: center;
      font-weight: 400;
      margin-right: 16px;
      max-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:hover {
        color: #2673E5;
      }
    }
  }
}
.btn-inner {
  height: 56px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
  &.btn-radius {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  >div {
    display: flex;
    align-items: center;
  }
  .inner-item {
    display: flex;
    align-items: center;
    line-height: normal;
    .multi-conversation-switch {
      margin-left: 5px;
    }
    .ant-switch.ant-switch-checked {
      background-color: #0478fc;
    }
    .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
      background-color: #0478fc;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .app-menu {
      width: 20px;
      height: 20px;
      margin-top: 2px;
    }
    .languages-span {
      margin-left: 14px;
    }
    .arrow-icon {
      svg {
        margin-left: 0;
        width: 16px;
        height: 16px;
        margin-top: 6px;
      }
    }
    .switch-app {
      cursor: pointer;
      display: flex;
      align-items: center;
      svg {
        margin-top: 4px;
      }
    }
    .multi-conversation-title {
      font-size: 12px;
      margin: 0 8px;
    }
    .switch-active {
      font-weight: 600;
    }
    .item-name {
      padding: 0 8px;
      cursor: pointer;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .item-upload {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .item-share {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
    .item-clear {
      cursor: pointer;
      text-align: center;
      width: 24px;
      height: 18px;
      background-size: 100% 100%;
    }
    >span {
      margin: 0 8px;
    }
    svg {
      cursor: pointer;
      width: 20px;
      height: 20px;
      &:hover {
        path {
          fill: #047BFC;
        }
      }
    }
    .item-close {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
.btn-inner-disabled {
  background-color: rgb(248, 251, 255);
  pointer-events: none;
  .inner-item {
    color: rgba(77, 77, 77, 0.5);
    .item-clear {
      border-color: rgb(217, 217, 217);
      color: rgb(217, 217, 217);
    }
    path {
      fill: #D8D8D8;
    }
  }
}
.active-audio-btn {
  circle {
    animation: active-audio-btn-circle-blink 1s infinite alternate forwards;
  }
  @keyframes active-audio-btn-circle-blink {
    0% {
      fill: #2673E5;
    }
    100% {
      fill: #F2F6FC;
    }
  }

  path {
    animation: active-audio-btn-path-blink 1s infinite alternate forwards;
  }
  @keyframes active-audio-btn-path-blink {
    0% {
      fill: #fff;
    }
    100% {
      fill: #333;
    }
  }
}

.dragger-modal {
  .import-upload {
    padding: 20px 0;
    .upload-word {
      font-weight: 700;
    }
    .tips {
      color: #808080;
      .available-count {
        font-weight: 700;
        color: black;
      }
    }
  }
}
