.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  .add-btn {
    margin-left: 12px;
  }
  .add-text {
    font-size: 12px;
  }
}
.search-list {
  height: 50vh;
  overflow-y: auto;
  padding-top: 15px;
  .node {
    display: inline-block;
    box-sizing: border-box;
    width: 260px;
    height: 85px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 15px;
    margin-right: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(140, 149, 176, 0.243137254901961);
    padding: 10px;
    cursor: pointer;
    border: 1px solid #D1D1D1;
    &:hover {
      background-color: #f1f8ff;
    }
    &:nth-of-type(3n) {
      margin-right: 0;
    }
    p {
      margin: 0;
      color: #333;
    }
    .node-name {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .node-description {
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .selected-node {
    position: relative;
    background-color: #f1f8ff;
    border: 1px solid #0478fc;
    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }

}