.header-time {
  font-size: 12px;
  font-weight: 500;
  padding: 2px .5rem 2px .5rem;
  border-radius: 6px;
  margin-left: 10px;
}
.running {
  background-color: #C5F3F6;
  color: #47A1B8;
}
.error{
  background-color: #FFF3EE;
  color: #DB1507
}
.finished {
  color: #3EC254;
  background-color: #D2F3D5;
}
.test-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
