<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.fit.jober.form.mapper.FormMapper">
    <resultMap id="BaseResultMap" type="com.huawei.fit.dynamicform.entity.DynamicFormEntity">
        <result column="form_id" jdbcType="VARCHAR" property="id"/>
        <result column="form_version" jdbcType="VARCHAR" property="version"/>
        <result column="form_name" jdbcType="VARCHAR" property="formName"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        form_id, form_version, form_name, tenant_id, update_time, update_user, create_time, create_user
    </sql>

    <sql id="Form_Pagination">
        <if test="page != null and page.pageNum != null and page.pageSize != null">
            limit #{page.pageSize} offset (#{page.pageNum} - 1) * #{page.pageSize}
        </if>
    </sql>

    <select id="selectWithCondition" resultMap="BaseResultMap"
            resultType="com.huawei.fit.dynamicform.entity.DynamicFormEntity">
        select
        <include refid="Base_Column_List"/>
        from form_data
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
            <if test="cond.formName != null">
                and form_name like concat('%', #{cond.formName,jdbcType=VARCHAR}, '%') escape '/'
            </if>
            <if test="cond.createUser != null">
                and create_user like concat('%', #{cond.createUser,jdbcType=VARCHAR}, '%') escape '/'
            </if>
        </where>
        <if test="cond.sort != null">
            <choose>
                <when test="cond.sort == 'create_time'">
                    order by create_time
                </when>
                <otherwise>
                    order by update_time
                </otherwise>
            </choose>
            <choose>
                <when test="cond.order == 'ascend'">
                    asc
                </when>
                <otherwise>
                    desc
                </otherwise>
            </choose>
        </if>
        <include refid="Form_Pagination"/>
    </select>

    <select id="countWithCondition" resultType="java.lang.Long">
        select count(*) from form_data
        <where>
            <if test="tenantId != null">
                and tenant_id = #{tenantId,jdbcType=VARCHAR}
            </if>
            <if test="cond.formName != null">
                and form_name like concat('%', #{cond.formName,jdbcType=VARCHAR}, '%') escape '/'
            </if>
            <if test="cond.createUser != null">
                and create_user like concat('%', #{cond.createUser,jdbcType=VARCHAR}, '%') escape '/'
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_data
        where form_id = #{id,jdbcType=VARCHAR} and form_version = #{version,jdbcType=VARCHAR}
    </select>

    <select id="selectFormByPrimaryKeyList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_data
        where
        <foreach item="parameter" collection="parameters" separator="OR">
            (form_id = #{parameter.formId,jdbcType=VARCHAR} AND form_version = #{parameter.version,jdbcType=VARCHAR})
        </foreach>
    </select>

    <update id="insertOrUpdateByPrimaryKey" parameterType="com.huawei.fit.dynamicform.entity.DynamicFormEntity">
        insert into form_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">form_id,</if>
            <if test="version != null">form_version,</if>
            <if test="tenantId != null">tenant_id,</if>
            <if test="formName != null">form_name,</if>
            update_time,
            <if test="updateUser != null">update_user,</if>
            create_time,
            <if test="createUser != null || updateUser != null">create_user,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
            <if test="version != null">#{version,jdbcType=VARCHAR},</if>
            <if test="tenantId != null">#{tenantId,jdbcType=VARCHAR},</if>
            <if test="formName != null">#{formName,jdbcType=VARCHAR},</if>
            current_timestamp,
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            current_timestamp,
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createUser == null and updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
        </trim>
        on conflict on constraint form_pkey do update
        <set>
            <if test="tenantId != null">tenant_id=#{tenantId,jdbcType=VARCHAR},</if>
            <if test="formName != null">form_name=#{formName,jdbcType=VARCHAR},</if>
            <if test="updateUser != null">update_user=#{updateUser,jdbcType=VARCHAR},</if>
        </set>
    </update>

    <delete id="deleteByPrimaryKey">
        delete
        from form_data
        where form_id = #{id,jdbcType=VARCHAR}
          and form_version = #{version,jdbcType=VARCHAR}
    </delete>
</mapper>