.file-preview {
  background-color: #ffffff;
  height: 92px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  .preview-inner {
    position: relative;
    img {
      width: 60px;
      height: 60px;
    }
    .delete-icon {
      position: absolute;
      top: -8px;
      right: -8px;
      cursor: pointer;
    }
  }
}