.at-content {
  position: absolute;
  top: -246px;
  left: 0;
  background-color: #ffffff;
  border-radius: 24px;
  width: 660px;
  height: 238px;
  z-index: 200;
  display: block !important;
  padding: 24px;
  box-sizing: border-box;
  .at-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4D4D4D;
    .at-app-search {
      width: 100%;
    }
    .left {
      font-size: 16px;
      color: #777777;
    }
    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
        padding-left: 8px;
      }
    }
  }
  .at-content-inner {
    margin-top: 16px;
    height: calc(100% - 30px);
    overflow: auto;
    .at-list-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      cursor: pointer;
      .left {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #808080;
        font-weight: 400;
        height: 40px;
        img {
          width: 40px;
          height: 40px;
          margin-right: 12px;
        }
        .name {
          color: #233046;
          font-size: 16px;
          margin: 0 8px;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 24px;
        }
        .description {
          max-width: 400px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 18px;
        }
      }
      .right {
        svg {
          cursor: pointer;
        }
      }
    }
  }
}
