.fit-title {
    padding-top: 48px;
    color: rgb(26, 26, 26);
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    background-color: rgba(255, 255, 255, 0.6);
    padding-bottom: 60px;
    .fit-text {
        width: 1248px;
        margin: 0 auto;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 8px;
    }
    .fit-desc {
        width: 1248px;
        margin: 0 auto;
        margin-bottom: 24px;
        line-height: 26px;
    }
    .fit-inner {
        width: 80%;
        height: 420px;
        border-radius: 12px;
        background: rgb(235, 247, 254);
        margin: 0 auto;
        background-image: url('/src/assets/png/fit-bg.png');
        background-size: 80% 150%;
        background-position: 0 -80px;
        background-repeat: no-repeat;
        max-width: 1530px;
        min-width: 1248px;
        position: relative;
        .fit-inner-content {
            position: absolute;
            padding: 20px;
            border-radius: 12px;
            background: rgb(255, 255, 255);
            width: 584px;
            height: 368px;
            box-sizing: border-box;
            right: 48px;
            top: 26px;
            font-size: 14px;
            .fit-inner-text-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                .fit-inner-text {
                    font-weight: 700;
                    margin-bottom: 8px;
                    color: rgb(26, 26, 26);
                    text-align: left;
                }
                .fit-inner-text-detail-container {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .fit-inner-text-detail {
                        margin-right: 5px;
                    }
                    .fit-inner-text-detail-icon {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .fit-inner-text {
                font-weight: 700;
                margin-bottom: 8px;
                color: rgb(26, 26, 26);
                text-align: left;
            }
            .fit-sub-text {
               color: rgb(77, 77, 77); 
               font-weight: 400;
               margin-bottom: 24px;
               text-align: left;
            }
        }
    }
}