.chat-details-content {
  font-family: '苹方-简';
  width: 900px;
  padding: 0 48px;
  margin: 0 auto;
  margin-top: 50px;
  .top {
    text-align: center;
    .head {
      margin-top: 20px;
      margin-bottom: 12px;
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }
    }
    .title {
      color:#252B3A;
      font-size: 18px;
      margin: 4px 0;
    }
    .text {
      margin: 10px auto;
      font-size: 14px;
      line-height: 26px;
      color: #71757F;
    }
  }
  .middle {
    margin-top: 40px;
    width: 100%;
    .middle-top {
      color: #71757F;
      display: flex;
      justify-content: space-between;
      .refersh {
        display: flex;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        height: 16px;
        img {
          width: 16px;
          height: 100%;
          margin-right: 8px;
        }
        &:hover {
          color: #0478fc;
          img {
            filter: drop-shadow(#047bfc 0 32px);
            transform: translateY(-32px);
          }
        }
      }
    }
    .middle-content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      .content-item {
        width: 32%;
        height: 96px;
        margin-bottom: 16px;
        border-radius: 8px;
        background-color: #ffffff;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;
        span {
          display: block;
        }
        .item-left {
          margin-right: 16px;
          img {
            width: 48px;
            height: 48px;
            border-radius: 6px;
          }
        }
        .item-right {
          color: #252B3A;
          font-size: 16px;
          display: flex;
          align-items: center;
          width: calc(100% - 48px);
          flex-wrap: wrap;
          span {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .name {
            font-size: 16px;
            color:#252B3A;
          }
          .desc {
            font-size: 14px;
            color:#71757F;
            margin: 8px 0;
          }
          .type {
            font-size: 12px;
            color:#71757F;
            display: flex;
            align-items: center;
            img {
              height: 12px;
              width: 12px;
              margin-right: 4px;
            }
          }
        }
        .item-bottom {
          font-size: 14px;
          color: #71757F;
          line-height: 32px;
        }
        &:nth-child(3n + 2) {
          margin-left: 2%;
          margin-right: 2%;
        }
        &:hover {
          border-color: #0478fc;
        }
        &:active {
          background-color: rgb(230, 242, 255);
        }
      }
    }
  }
  .bottom {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    .left {
      margin-right: 16px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    .right {
      padding: 16px;
      border-radius: 8px;
      background-color: #ffffff;
      color: #252B3A;
      line-height: 24px;
      text-align: left;
      font-size: 14px;
    }
  }
}
