.plugin-card{
  padding: 16px 18px 0;
  width: 335px;
  height: 190px;
  background: url('/src/assets/images/knowledge/knowledge-background.png');
  background-position: center;
  display: flex;
  flex-direction: column;
  gap:16px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  position: relative;
  .plugin-card-header{
   display: flex;
   gap:16px;
   align-items: flex-start;
   .tool-name {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    img {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
   }
   img {
    width: 36px;
    height: 36px;
   }
  }
  .plugin-card-user{
   display: flex;
   gap:4px;
   align-items: center;
   flex-wrap: wrap;
  }
  &:hover {
    .card-detail {
      display: block;
    }
  }
}

.card-content{
   word-break: break-all;
   line-height: 26px;
   text-align: justify;
   height: 100%;
   overflow-y: auto;
   font-size: 12px;
   color: rgb(77, 77, 77);
}
.card-footer{
   padding: 16px 0;
   padding-right: 26px;
   display: flex;
   justify-content: space-between;
   gap:32px;
   border-top: 1px solid #ebebeb;
   color: #808080;
   align-items: center;
}
.card-detail {
  position: absolute;
  right: 12px;
  top: 10px;
  cursor: pointer;
  font-size: 12px;
  color: #2673E5;
  display: none;
}