.tool-modal-search {
  width: 600px;
  margin: 12px auto;
  display: flex;
  align-items: center;
  .ant-input-search-button {
    margin: 0;
  }
}
.tool-modal-tab {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 12px;
  .text {
    font-size: 14px;
    font-weight: 400;
    color: rgb(77, 77, 77);
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 4px;
  }
  .line {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #D9D9D9;
    margin: 0 16px
  }
  .active {
    .text {
      color: #2673E5;
      border-bottom-color: #2675e5;
    }
  }
  .tool-modal-drop {
    position: absolute;
    right: 20px;
    top: 1px;
  }
  >span {
    &:last-child {
      .line {
        width: 0;
      }
    }
  }
}
.tool-modal-content {
  display: flex;
  margin-top: 16px;
  .content-left {
    width: 100%;
    display: flex;
    .left-list {
      height: calc(100vh - 430px);
      overflow-y: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .left-item {
        width: 336px;
        height: 150px;
        border: 1px solid rgb(235, 235, 235);
        border-radius: 8px;
        margin-bottom: 16px;
        margin-right: 12px;
        background-position: center center;
        cursor: pointer;
        padding: 18px 18px 0px;
        box-sizing: border-box;
        position: relative;
        .item-top {
          display: flex;
          align-items: center;
          .top-left {
            margin-right: 16px;
          }
          .top-right {
            width: calc(100% - 80px);
            .item-title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 18px;
              width: 100%;
            }
            .item-tag {
              display: flex;
              align-items: center;
              margin-top: 4px;
              span {
                margin-right: 12px;
                display: flex;
                align-items: center;
                img {
                  margin-right: 6px;
                }
              }
            }
          }
        }
        .item-bottom {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .card-detail {
          position: absolute;
          right: 12px;
          top: 10px;
          cursor: pointer;
          font-size: 12px;
          color: #2673E5;
          display: none;
        }
        &:hover {
          .card-detail {
            display: block;
          }
        }
      }
      .active {
        border-color: #2673E5;
      }
    }
    .left-page {
      padding: 6px 10px;
      display: flex;
      align-items: center;
      >div {
        align-items: center;
      }
    }
  }
  .content-right {
    flex: 1;
    padding-left: 8px;
    .iframe-item {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
.tool-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.mashup-add-head {
  display: flex;
  justify-content: space-between;
}
.mashup-add-inner {
  overflow-y: auto;
  max-height: calc(100vh - 500px);
  min-height: 300px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 8px;
  .mashup-add-item {
    position: relative;
    .check-item {
      position: absolute;
      right: 18px;
      bottom: 14px;
    }
    .opration-item {
      cursor: pointer;
      position: absolute;
      right: 18px;
      bottom: 5px;
      text-align: center;
      color: #ffffff;
      font-size: 12px;
      line-height: 26px;
    }
  }
}
.tool-modal{
  .ant-btn {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
  .ant-tabs-nav-wrap {
    justify-content: start !important;
  }
  .ant-divider-horizontal {
    margin: 8px 0;
  }
  .ant-tabs-tab {
    padding: 6px 0 12px 0;
  }
  .plugin-box {
    display: flex;
    justify-content: space-between;
    .left-menu {
      width: 20%;
      margin-right: 24px;
      .search-input {
        margin-bottom: 16px;
        border-radius: 23px;
      }
      .search-button {
        width: 100%;
        border-radius: 23px;
      }
      .mine-icon {
        padding: 12px 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        .icon-size {
          margin-left: 8px;
        }
      }
      .tool-market {
        color: rgb(128, 128, 128);
        margin-left: 4px;
      }
      .tool-market-tabs {
        height: 40px;
        padding: 12px 8px;
        display: flex;
        align-items: center;
      }
      .tool-icon {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    .right-table {
      width: calc(80% - 24px);
      .tool-empty {
        height: 370px;
      }
    }
  }
  .menu-tags {
    background-color: rgb(247,248,248);
    border-radius: 8px;
  }
  .ant-pagination {
    .ant-pagination-item{
      border: none;
    }
    .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
      margin: 0;
      border: none;
    }
  }
}