body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F6F6F6;
    color: black;
}

.nav-links a {
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.hero-section h1 {
    font-size: 40px;
}

.hero-section p {
    font-size: 18px;
    color: #666;
}