.second-col-custom-select .ant-select-selector {
    width: 100%;
    border-radius: 8px 0 0 8px !important;
}

.third-col-custom-input, .third-col-custom-select .ant-select-selector {
    width: 100%;
    border-radius: 0 8px 8px 0 !important;
}

.switch-container {
    margin-left: auto; /* 将 Switch 放置在最右侧 */
}

.ant-switch.ant-switch-checked {
    background-color: rgba(62, 194, 84, 1);
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background-color: rgba(62, 194, 84, 1);
}

.icon-button {
    padding: 0;
    margin: 0;
}

.retrieval-starred-text {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.retrieval-starred-text::after {
    padding-left: 12px;
    content: "*";
    position: absolute;
    left: -30%;
    color: red;
    bottom: auto;
    font-size: 1.2em;
}