.closeMenu {
  animation: closeMenuAnimate .3s forwards;
  animation-fill-mode: forwards;
}

.openMenu {
  animation: openMenuAnimate .3s forwards;
  animation-fill-mode: forwards;
}

@keyframes closeMenuAnimate {
  0% {
    opacity: 1;
  }
  30% {
    opacity: .5;
  }

  50% {
    opacity: .3;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes openMenuAnimate {
  0% {
    opacity: 0;
    display: none;
  }
  30% {
    opacity: .3;
  }

  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

