{
    // 服务端配置
    "server": {
        "port": 5284 // 端口
    },
    // 共享内存管理配置
    "memory": {
        "sizeLimit": 42949672960, // 内存分配上限（字节）
        "ttlDuration": 1800000, // 内存块存活时长（毫秒）
        "sweepInterval": 60000 // 过期内存块清扫周期（毫秒）
    }
}
