<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/styles/reset.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/form.css">
</head>

<body>
  <div id="element">
    <form>
      <div class="form-row">
        <div class="form-group col-md">
          <label>image</label>
          <img src="./assets/images/empty.png" alt="">
        </div>
        <div class="form-group col-md-6">
          <label>a</label>
          <input id="inputA" type="text" class="form-control">
        </div>
        <div class="form-group col-md-6">
          <label>b</label>
          <select id="selectB">
            <option value="demo1">Demo1</option>
            <option value="demo2">Demo2</option>
          </select>
        </div>
        <div class="form-group col-md">
          <label>button</label>
          <button class="btn btn-primary resuming">继续对话</button>
          <button class="btn btn-primary reStart">重新对话</button>
          <button class="btn btn-primary terminate">终止对话</button>
        </div>
      </div>
    </form>
  </div>
</body>
<script src="./index.js"></script>
</html>