<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.fit.waterflow.flowsengine.persist.mapper.FitableUsageMapper">
    <resultMap id="objectMap"
               type="modelengine.fit.waterflow.flowsengine.persist.po.FitableUsagePO">
        <result column="fitable_id" property="fitableId"/>
        <result column="definition_id" property="definitionId"/>
    </resultMap>

    <sql id="table">fitable_usage</sql>

    <sql id="columns">fitable_id, definition_id</sql>

    <insert id="save">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES
        <foreach collection="fitableIds" item="fitableId" separator=",">
            (#{fitableId}, #{definitionId})
        </foreach>
    </insert>

    <delete id="deleteByDefinitionId">
        DELETE FROM
        <include refid="table"/>
        WHERE
        definition_id = #{defintionId}
    </delete>

</mapper>