<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.jade.store.repository.pgsql.mapper.AppMapper">
    <resultMap id="App" type="modelengine.jade.store.repository.pgsql.entity.AppDo">
        <result column="id" property="id"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="like_count" property="likeCount"/>
        <result column="download_count" property="downloadCount"/>
        <result column="source" property="source"/>
        <result column="icon" property="icon"/>
        <result column="app_category" property="appCategory"/>
        <result column="tool_name" property="toolName"/>
        <result column="tool_unique_name" property="toolUniqueName"/>
    </resultMap>
    <insert id="addApp" parameterType="modelengine.jade.store.repository.pgsql.entity.AppDo">
        insert into store_app
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">"creator",</if>
            <if test="modifier != null">"modifier",</if>
            <if test="likeCount != null">"like_count",</if>
            <if test="downloadCount != null">"download_count",</if>
            <if test="source != null">"source",</if>
            <if test="icon != null">"icon",</if>
            <if test="appCategory != null">"app_category",</if>
            "tool_name", "tool_unique_name",
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">#{creator},</if>
            <if test="modifier != null">#{modifier},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
            <if test="source != null">#{source},</if>
            <if test="icon != null">#{icon},</if>
            <if test="appCategory != null">#{appCategory},</if>
            #{toolName}, #{toolUniqueName},
        </trim>
    </insert>
    <update id="updateApp" parameterType="modelengine.jade.store.repository.pgsql.entity.AppDo">
        UPDATE store_app
        SET updated_time = current_timestamp, icon = #{icon}, source = #{source}
        WHERE tool_unique_name = #{toolUniqueName}
    </update>
    <sql id="getCount">
        select count(i."tool_unique_name")
        from "store_app" i
                 left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                            from "store_tag" t
                            group by t."tool_unique_name") tg on i."tool_unique_name" = tg."tool_unique_name"
    </sql>
    <sql id="getOrSearchConditions">
        <if test="mode == 'AND' and includeTags != null and includeTags.size() > 0">
            and tg.tags is not null
            and (
            <foreach collection="includeTags" item="tag" open="" close="" separator=" and ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
        </if>
        <if test="mode == 'OR' and excludeTags != null and excludeTags.size() > 0">
            and ( tg.tags is null
            or not (
            <foreach collection="excludeTags" item="tag" open="" close="" separator=" or ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
            )
        </if>
    </sql>
    <sql id="sortAndLimit">
        order by
        i.creator = 'system' desc,
        i."updated_time" desc
        <if test="offset != null and offset >= 0">
            offset #{offset}
        </if>
        <if test="limit != null and limit > 0">
            limit #{limit}
        </if>
    </sql>
    <select id="getAppByUniqueName" resultMap="App">
        select "like_count", "download_count", "tool_unique_name", "source", "icon", "creator", "modifier", "app_category", "tool_name"
        from "store_app"
        where "tool_unique_name" = #{uniqueName}
    </select>
    <select id="getApps" parameterType="modelengine.jade.store.entity.query.AppQuery" resultMap="App">
        select i."like_count", i."download_count", i."tool_unique_name", i."source", i."icon", i."creator", i."modifier", i."app_category", i."tool_name"
        from "store_app" i
        left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
        from "store_tag" t
        group by t."tool_unique_name") tg on tg."tool_unique_name" = i."tool_unique_name"
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" ilike '%\' || #{toolName} || '%' ESCAPE '\'
            </if>
            <if test="appCategory != null and appCategory != ''">
                and i."app_category" ilike '%\' || #{appCategory} || '%' ESCAPE '\'
            </if>
        </where>
        <include refid="sortAndLimit"/>
    </select>
    <select id="getAppsCount" parameterType="modelengine.jade.store.entity.query.AppQuery">
        <include refid="getCount"/>
        <where>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" ilike '%\' || #{toolName} || '%' ESCAPE '\'
            </if>
            <if test="appCategory != null and appCategory != ''">
                and i."app_category" ilike '%\' || #{appCategory} || '%' ESCAPE '\'
            </if>
        </where>
    </select>
    <delete id="deleteApp" parameterType="String">
        delete
        from "store_app"
        where "tool_unique_name" = #{uniqueName};
    </delete>
</mapper>