<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.jade.store.repository.pgsql.mapper.PluginMapper">
    <resultMap id="Plugin" type="com.huawei.jade.store.repository.pgsql.entity.PluginDo">
        <result column="id" property="id"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="is_published" property="isPublished"/>
        <result column="owner" property="owner"/>
        <result column="like_count" property="likeCount"/>
        <result column="download_count" property="downloadCount"/>
        <result column="tool_name" property="toolName"/>
        <result column="tool_unique_name" property="toolUniqueName"/>
    </resultMap>
    <insert id="addPlugin" parameterType="com.huawei.jade.store.repository.pgsql.entity.PluginDo">
        insert into store_plugin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">"creator",</if> <if test="modifier != null">"modifier",</if>
            <if test="isPublished != null">"is_published",</if>
            <if test="owner != null">"owner",</if> <if test="likeCount != null">"like_count",</if>
            <if test="downloadCount != null">"download_count",</if> "tool_name", "tool_unique_name",
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">#{creator},</if> <if test="modifier != null">#{modifier},</if>
            <if test="isPublished != null">#{isPublished},</if>
            <if test="owner != null">#{owner},</if> <if test="likeCount != null">#{likeCount},</if>
            <if test="downloadCount != null">#{downloadCount},</if> #{toolName}, #{toolUniqueName},
        </trim>
    </insert>
    <sql id="getCount">
        select count(i."is_published")
        from "store_plugin" i
                 left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                            from "store_tag" t
                            group by t."tool_unique_name") tg on i."tool_unique_name" = tg."tool_unique_name"
    </sql>
    <sql id="getOrSearchConditions">
        <if test="includeTags != null and includeTags.size() > 0">
            and tg.tags is not null
            and (
            <foreach collection="includeTags" item="tag" open="" close="" separator=" and ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
        </if>
        <if test="excludeTags != null and excludeTags.size() > 0">
            and ( tg.tags is null
            or not (
            <foreach collection="excludeTags" item="tag" open="" close="" separator=" or ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
            )
        </if>
    </sql>
    <sql id="sortAndLimit">
        order by i."updated_time" desc
        <if test="offset != null and offset >= 0">
            offset #{offset}
        </if>
        <if test="limit != null and limit > 0">
            limit #{limit}
        </if>
    </sql>
    <select id="getPluginByUniqueName" resultMap="Plugin">
        select "is_published", "owner", "like_count", "download_count", "tool_unique_name"
        from "store_plugin"
        where "tool_unique_name" = #{uniqueName}
    </select>
    <select id="getPlugins" parameterType="com.huawei.jade.store.entity.query.PluginQuery" resultMap="Plugin">
        select i."is_published", i."owner", i."like_count", i."download_count", i."tool_unique_name"
        from "store_plugin" i
        left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                    from "store_tag" t
                    group by t."tool_unique_name") tg on tg."tool_unique_name" = i."tool_unique_name"
        <where>
            <if test="isPublished != null and isPublished != ''">
                i."is_published" = #{isPublished}
            </if>
            <if test="owner != null and owner != ''">
                i."owner" = #{owner}
            </if>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" like '%' || #{toolName} || '%'
            </if>
        </where>
        <include refid="sortAndLimit"/>
    </select>
    <select id="getPluginsCount" parameterType="com.huawei.jade.store.entity.query.PluginQuery">
        <include refid="getCount"/>
        <where>
            <if test="isPublished != null and isPublished != ''">
                i."is_published" = #{isPublished}
            </if>
            <if test="owner != null and owner != ''">
                i."owner" = #{owner}
            </if>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" like '%' || #{toolName} || '%'
            </if>
        </where>
    </select>
    <select id="getMyCollection" parameterType="com.huawei.jade.store.entity.query.PluginQuery" resultMap="Plugin">
        select i."is_published", i."owner", i."like_count", i."download_count", i."tool_unique_name"
        from "store_plugin" i
        left join "store_collection" t on i."tool_unique_name" = t."tool_unique_name"
        where t."collector" = #{collector}
        <include refid="sortAndLimit"/>
    </select>
    <delete id="deletePlugin" parameterType="String">
        delete
        from "store_plugin"
        where "tool_unique_name" = #{uniqueName};
    </delete>
</mapper>