<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.jade.store.repository.pgsql.mapper.PluginToolMapper">
    <resultMap id="PluginTool" type="modelengine.jade.store.repository.pgsql.entity.PluginToolDo">
        <result column="id" property="id"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="creator" property="creator"/>
        <result column="modifier" property="modifier"/>
        <result column="like_count" property="likeCount"/>
        <result column="download_count" property="downloadCount"/>
        <result column="tool_name" property="name"/>
        <result column="plugin_id" property="pluginId"/>
        <result column="tool_unique_name" property="toolUniqueName"/>
        <result column="source" property="source"/>
        <result column="icon" property="icon"/>
        <result column="user_group_id" property="userGroupId"/>
    </resultMap>
    <insert id="addPluginTool" parameterType="modelengine.jade.store.repository.pgsql.entity.PluginToolDo">
        insert into store_plugin_tool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">"creator",</if>
            <if test="modifier != null">"modifier",</if>
            <if test="likeCount != null">"like_count",</if>
            <if test="downloadCount != null">"download_count",</if>
            <if test="name != null">"tool_name",</if>
            <if test="pluginId != null">"plugin_id",</if>
            <if test="source != null">"source",</if>
            <if test="icon != null">"icon",</if>
            <if test="userGroupId != null">"user_group_id",</if>
            "tool_unique_name",
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creator != null">#{creator},</if>
            <if test="modifier != null">#{modifier},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="downloadCount != null">#{downloadCount},</if>
            <if test="name != null">#{name},</if>
            <if test="pluginId != null">#{pluginId},</if>
            <if test="source != null">#{source},</if>
            <if test="icon != null">#{icon},</if>
            <if test="userGroupId != null">#{userGroupId},</if>
            #{toolUniqueName},
        </trim>
    </insert>
    <insert id="addPluginTools" parameterType="java.util.List">
        <foreach item='pluginToolDo' collection="list" separator=";">
        insert into store_plugin_tool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pluginToolDo.creator != null">"creator",</if>
            <if test="pluginToolDo.modifier != null">"modifier",</if>
            <if test="pluginToolDo.likeCount != null">"like_count",</if>
            <if test="pluginToolDo.downloadCount != null">"download_count",</if>
            <if test="pluginToolDo.name != null">"tool_name",</if>
            <if test="pluginToolDo.pluginId != null">"plugin_id",</if>
            <if test="pluginToolDo.source != null">"source",</if>
            <if test="pluginToolDo.icon != null">"icon",</if>
            <if test="pluginToolDo.userGroupId != null">"user_group_id",</if>
            "tool_unique_name",
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pluginToolDo.creator != null">#{pluginToolDo.creator},</if>
            <if test="pluginToolDo.modifier != null">#{pluginToolDo.modifier},</if>
            <if test="pluginToolDo.likeCount != null">#{pluginToolDo.likeCount},</if>
            <if test="pluginToolDo.downloadCount != null">#{pluginToolDo.downloadCount},</if>
            <if test="pluginToolDo.name != null">#{pluginToolDo.name},</if>
            <if test="pluginToolDo.pluginId != null">#{pluginToolDo.pluginId},</if>
            <if test="pluginToolDo.source != null">#{pluginToolDo.source},</if>
            <if test="pluginToolDo.icon != null">#{pluginToolDo.icon},</if>
            <if test="pluginToolDo.userGroupId != null">#{pluginToolDo.userGroupId},</if>
            #{pluginToolDo.toolUniqueName},
        </trim>
        </foreach>
    </insert>
    <sql id="getCount">
        select count(i."like_count")
        from "store_plugin_tool" i
                 left join "store_plugin" p on i."plugin_id" = p."plugin_id"
                 left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                            from "store_tag" t
                            group by t."tool_unique_name") tg on i."tool_unique_name" = tg."tool_unique_name"
    </sql>
    <sql id="getOrSearchConditions">
        <if test="mode == 'AND' and includeTags != null and includeTags.size() > 0">
            and tg.tags is not null
            and (
            <foreach collection="includeTags" item="tag" open="" close="" separator=" and ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
        </if>
        <if test="mode == 'OR' and includeTags != null and includeTags.size() > 0">
            and tg.tags is not null
            and (
            <foreach collection="includeTags" item="tag" open="" close="" separator=" or ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
        </if>
        <if test="excludeTags != null and excludeTags.size() > 0">
            and ( tg.tags is null
            or not (
            <foreach collection="excludeTags" item="tag" open="" close="" separator=" or ">
                tg.tags ~ ('(^|,)' || #{tag} || '($|,)')
            </foreach>
            )
            )
        </if>
    </sql>
    <sql id="sortAndLimit">
        order by i."updated_time" desc
        <if test="offset != null and offset >= 0">
            offset #{offset}
        </if>
        <if test="limit != null and limit > 0">
            limit #{limit}
        </if>
    </sql>
    <select id="getPluginToolByUniqueName" resultMap="PluginTool">
        select "like_count", "download_count", "tool_name", "plugin_id", "tool_unique_name", "source", "icon", "creator", "modifier"
        from "store_plugin_tool"
        where "tool_unique_name" = #{toolUniqueName}
    </select>
    <select id="getPluginTools" parameterType="modelengine.jade.store.entity.query.PluginToolQuery"
            resultMap="PluginTool">
        select i."like_count", i."download_count", i."tool_name", i."plugin_id", i."tool_unique_name", i."source",
        i."icon", i."creator", i."modifier", i."user_group_id"
        from "store_plugin_tool" i
        left join "store_plugin" p on i."plugin_id" = p."plugin_id"
        left join (select t."tool_unique_name", string_agg(t."name", ',' order by t."name") as tags
                    from "store_tag" t
                    group by t."tool_unique_name") tg on tg."tool_unique_name" = i."tool_unique_name"
        <where>
            <if test="isDeployed != null and isDeployed">
                and (p."deploy_status" = 'DEPLOYED' or p."deploy_status" = 'RELEASED')
            </if>
            <if test='isBuiltin != null and isBuiltin and userGroupId != null and userGroupId != ""'>
                and (p."is_builtin" = true or i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test='isBuiltin != null and !isBuiltin and userGroupId != null and userGroupId != ""'>
                and (p."is_builtin" = false and i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test="isBuiltin != null and userGroupId == null">
                and p."is_builtin" = #{isBuiltin}
            </if>
            <if test='isBuiltin == null and userGroupId != null and userGroupId != ""'>
                and (i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test="isBuiltin != null and isBuiltin and creator != null and creator != '' and userGroupId == null">
                and (p."is_builtin" = true or i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\')
            </if>
            <if test="isBuiltin != null and !isBuiltin and creator != null and creator != '' and userGroupId == null">
                and (p."is_builtin" = false and i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\')
            </if>
            <if test="isBuiltin != null and creator == null and userGroupId == null">
                and p."is_builtin" = #{isBuiltin}
            </if>
            <if test="isBuiltin == null and creator != null and creator != '' and userGroupId == null">
                and i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\'
            </if>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" ilike '%\' || #{toolName} || '%' ESCAPE '\'
            </if>
        </where>
        <include refid="sortAndLimit"/>
    </select>
    <select id="getPluginToolsCount" parameterType="modelengine.jade.store.entity.query.PluginToolQuery">
        <include refid="getCount"/>
        <where>
            <if test="isDeployed != null and isDeployed">
                and (p."deploy_status" = 'DEPLOYED' or p."deploy_status" = 'RELEASED')
            </if>
            <if test='isBuiltin != null and isBuiltin and userGroupId != null and userGroupId != ""'>
                and (p."is_builtin" = true or i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test='isBuiltin != null and !isBuiltin and userGroupId != null and userGroupId != ""'>
                and (p."is_builtin" = false and i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test="isBuiltin != null and userGroupId == null">
                and p."is_builtin" = #{isBuiltin}
            </if>
            <if test='isBuiltin == null and userGroupId != null and userGroupId != ""'>
                and (i."user_group_id" = #{userGroupId} or i."user_group_id" = '*')
            </if>
            <if test="isBuiltin != null and isBuiltin and creator != null and creator != '' and userGroupId == null">
                and (p."is_builtin" = true or i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\')
            </if>
            <if test="isBuiltin != null and !isBuiltin and creator != null and creator != '' and userGroupId == null">
                and (p."is_builtin" = false and i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\')
            </if>
            <if test="isBuiltin != null and creator == null and userGroupId == null">
                and p."is_builtin" = #{isBuiltin}
            </if>
            <if test="isBuiltin == null and creator != null and creator != '' and userGroupId == null">
                and i."creator" ilike '%\' || #{creator} || '%' ESCAPE '\'
            </if>
            <include refid="getOrSearchConditions"/>
            <if test="toolName != null and toolName != ''">
                and i."tool_name" ilike '%\' || #{toolName} || '%' ESCAPE '\'
            </if>
        </where>
    </select>
    <select id="getPluginToolsByPluginId" resultMap="PluginTool">
        select i."like_count", i."download_count", i."tool_name", i."plugin_id", i."tool_unique_name"
        from "store_plugin_tool" i
        where i."plugin_id" = #{pluginId}
    </select>
    <select id="getPluginToolsByUniqueNames" parameterType="java.util.List" resultMap="PluginTool">
        select i."like_count", i."download_count", i."tool_name", i."plugin_id", i."tool_unique_name"
        from "store_plugin_tool" i
        where i."tool_unique_name" in
        <foreach item='uniqueName' collection="uniqueNames" open="(" close=")" separator=",">
            #{uniqueName}
        </foreach>
    </select>
    <delete id="deletePluginTool" parameterType="String">
        delete
        from "store_plugin_tool"
        where "tool_unique_name" = #{toolUniqueName};
    </delete>
</mapper>