accelerate==0.30.0
fastapi==0.111.0
fastapi-cli==0.0.2
huggingface-hub==0.23.0
pydantic==2.7.2
pydub==0.25.1
soundfile==0.12.1
starlette==0.37.2
tiktoken==0.6.0
tokenizers==0.19.1
tqdm==4.66.4
transformers==4.41.2
urllib3==2.2.1
uvicorn==0.29.0