.main-container {
  border-radius: 36px 36px 0px 0px;
  background: linear-gradient(180.00deg, rgba(255, 255, 255, 0.48) 0%,rgba(255, 255, 255, 0) 100%);

  .main-content {
    width: 70vw;
    margin: 0 auto;
    padding-top: 48px;
  }
}

@media screen and (max-width: 828px) {
  .main-container {
    .main-content {
      width: 100vw;
    }
  }
}