.mashup-add-head {
  display: flex;
  justify-content: space-between;
}
.mashup-add-inner {
  overflow-y: auto;
  height: calc(100vh - 340px);
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-content: flex-start;
  .mashup-add-item {
    position: relative;
    .check-item {
      position: absolute;
      right: 18px;
      bottom: 14px;
    }
    .opration-item {
      cursor: pointer;
      position: absolute;
      right: 18px;
      bottom: 14px;
      display: none;
      width: 60px;
      text-align: center;
      color: #ffffff;
      background-color: #2673E5;
      border-radius: 20px;
      font-size: 12px;
      line-height: 26px;
    }
    &:hover {
      .opration-item { 
        display: block;
      }
    }
  }
}