.inspiration-wrap {
  .plus-icon {
    position: relative;
    color: #047bfc;
    vertical-align: 0rem;
    margin: 0 0 0 10px;
    font-size: 20px;
  }
  .ant-input {
    font-size: 12px;
  }
  .ant-select-single .ant-select-selector {
    font-size: 12px;
  }
  .ant-table-wrapper .ant-table {
    font-size: 12px;
  }
  .ant-btn-primary {
    background-color: #047bfc;
  }
}