.recommend-add {
  .ant-btn {
    padding-left: 0;
  }
}
.recommend-container {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .card-title {
    color: #1A1A1A;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    .left {
      &::after {
        content: '*';
        color: red;
      }
    }
    .right {
      span {
        cursor: pointer;
        margin-left: 16px;
        color: #2673E5;
        font-weight: 400;
        svg {
          transform: scale(.8);
          cursor: pointer;
        }
      }
    }
  }
}