.share-content {
  width: 100%;
  height: calc(100% - 10px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../assets/images/bg.png');
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  .shart-inner {
    width: 100%;
    height: 100%;
    background-color: #ffffffbf;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    .top {
      width: 900px;
      margin: 0 auto;
      display: block;
      justify-content: center;
      text-align: center;
        .head {
            margin-top: 20px;
            margin-bottom: 12px;
            img {
                width: 54px;
                height: 54px;
                border-radius: 50%;
            }
        }
        .title {
            color:#252B3A;
            font-size: 18px;
            margin: 4px 0;
        }
        .text {
            margin: 10px auto;
            font-size: 14px;
            line-height: 26px;
            color: #71757F;
        }
    }
    .message-box {
      padding-bottom: 70px;
    }
  }
  .chat-preview-title {
    font-weight: 700;
    font-size: 20px;
  }
  .chat-tips {
    margin-top: 8px;
    color: #71757f;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
  }
}
