<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.jade.app.engine.announcement.mapper.AnnouncementInfoMapper" >
    <resultMap id="AnnouncementInfoResultMap" type="modelengine.jade.app.engine.announcement.po.AnnouncementInfoPo">
        <id column="id" property="id"/>
        <result column="announcement_type" property="announcementType"/>
        <result column="content" property="content"/>
        <result column="details_url" property="detailsUrl"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, announcement_type, content, details_url, start_time, end_time, create_time
    </sql>

    <insert id="insert" parameterType="modelengine.jade.app.engine.announcement.po.AnnouncementInfoPo" useGeneratedKeys="true" keyProperty="id">
        insert into announcement_info (announcement_type, content, details_url, start_time, end_time, create_time)
        values (#{announcementType}, #{content}, #{detailsUrl}, #{startTime}, #{endTime}, #{createTime})
    </insert>

    <select id="getAnnouncementInfo" resultMap="AnnouncementInfoResultMap">
        select
        <include refid="Base_Column_List"/>
        from announcement_info
        where start_time &lt; #{currentTime} and end_time &gt; #{currentTime}
        order by create_time asc
    </select>
</mapper>