.source-text {
  background-color: rgb(230, 230, 230);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  line-height: 12px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.source-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.source-content {
  line-height: 24px;
}

.source-circle {
  display: inline-block;
  width: 16px;
  line-height: 14px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  font-size: 12px;
}

.source-tooltip {
  visibility: hidden;
  width: 600px;
  max-height: 350px;
  overflow-y: scroll;
  background-color: #fff;
  color: #000;
  text-align: start;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  border: 1px solid rgb(230, 230, 230);
  box-shadow:
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.source-text:hover .source-tooltip {
  visibility: visible;
  opacity: 1;
}

.source-drawer {
  margin-bottom: 12px;
  line-height: 22px;
  color: #333;
  text-indent: 24px;
}
