.feed-inner {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  .feed-right {
    display: none;
    svg {
      margin-left: 26px;
      cursor: pointer;
      &:hover {
        path{ stroke:#2673e5}
      }
    }
  }
}