.title {
    text-align: center;
    padding: 48px 20px;
    margin-top: 68px;
    padding-bottom: 80px;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .start-text {
        width: 100%;
        font-size: 48px;
        font-weight: 700;
    }
    .start-desc {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .start-btn {
        width: 109px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;
        padding: 0px 16px 0px 16px;
        border-radius: 20px;
        background: linear-gradient(135.00deg, rgb(94, 124, 224),rgb(70, 146, 255),rgb(111, 88, 254) 99.878%);
        color: #ffffff;
        font-weight: 700;
    }
}