.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 68px;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    .logo {
        width: 175px;
        height: 28px;
    }
    .header-button-group {
        display: flex;
        gap: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .ant-btn {
        font-size: 14px;
        font-weight: 400;
    }
}
.code-link {
    display: flex;
    align-items: center;
    img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
    }
}