.chat-running-container {
  position: relative;
  .chat-running-chat {
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 999;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    .running-app-name {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
    }
  }
}