.segment-preview {
  border-radius: 8px;
  padding: 24px;
  background-color: #fff;
  width: 400px;

  &-header {
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.preview-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  background-image: url(/src/assets/images/knowledge/knowledge-background.png);
  background-size: cover;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  border-top: none;
  &-title {
    border: 1px solid #f2f2f2;
    padding: 0px 8px;
    border-radius: 4px;
    background-color: #fff;
  }

  &-content {
    word-break: break-all;
  }


}
