<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) Huawei Technologies Co., Ltd. 2023-2023. All rights reserved.
  -->

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
    <typeAliases>
        <typeAlias type="modelengine.fit.jane.dlock.DruidDataSourceFactory" alias="DRUID"/>
    </typeAliases>
    <environments default="edevops">
        <environment id="edevops">
            <transactionManager type="JDBC"/>
            <dataSource type="DRUID">
                <property name="driverClassName" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="initialSize" value="10"/>
                <property name="maxActive" value="50"/>
                <property name="minIdle" value="10"/>
                <property name="keepAlive" value="true"/>
                <property name="validationQuery" value="SELECT 1"/>
                <property name="testWhileIdle" value="true"/>
                <property name="init" value="true"/>
                <property name="asyncInit" value="true"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/FlowLockMapper.xml"/>
    </mappers>
</configuration>
