<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.fit.jober.aipp.mapper.AippUploadedFileMapper">
    <select id="queryExpiredFiles">
        select aipp_instance_file.filename
        from aipp_instance_file
        where aipp_instance_file.create_at &lt;= current_timestamp - interval '30 D'
    </select>

    <select id="queryFilesByUserAipp">
        select aipp_instance_file.filename
        from aipp_instance_file
        where aipp_id = #{aippId}
          and create_by = #{createUserAccount}
    </select>

    <delete id="deleteFileRecords" parameterType="java.util.List">
        delete
        from aipp_instance_file
        where filename in
        <foreach collection="fileNames" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByUserAipp">
        delete
        from aipp_instance_file
        where aipp_id = #{aippId}
          and create_by = #{createUserAccount}
    </delete>

    <insert id="insertFileRecord" parameterType="com.huawei.fit.jober.aipp.dto.aipplog.AippUploadedFileInfoDto">
        insert into aipp_instance_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aippId != null">aipp_id,</if>
            <if test="createUserAccount != null">create_by,</if>
            <if test="filename != null">filename,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aippId != null">#{aippId},</if>
            <if test="createUserAccount != null">#{createUserAccount},</if>
            <if test="filename != null">#{filename},</if>
        </trim>
    </insert>
</mapper>