<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.fit.jober.aipp.mapper.AppBuilderFormMapper">
    <resultMap id="BaseResultMap" type="com.huawei.fit.jober.aipp.po.AppBuilderFormPO">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="type" property="type"/>
        <result column="appearance" property="appearance"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, tenant_id, appearance, type, create_by, create_at, update_by, update_at
    </sql>

    <select id="selectWithId" resultMap="BaseResultMap"
            resultType="com.huawei.fit.jober.aipp.po.AppBuilderFormPO">
        select
        <include refid="Base_Column_List"/>
        from app_builder_form
        where id = #{id}
    </select>

    <select id="selectWithType" resultMap="BaseResultMap"
            resultType="com.huawei.fit.jober.aipp.po.AppBuilderFormPO">
        select
        <include refid="Base_Column_List"/>
        from app_builder_form
        where type = #{id} and tenant_id = #{tenantId}
    </select>

    <insert id="insertOne" parameterType="com.huawei.fit.jober.aipp.po.AppBuilderFormPO">
        insert into app_builder_form( <include refid="Base_Column_List"/> )
        values (#{id}, #{name}, #{tenantId}, #{appearance}::jsonb, #{type}, #{createBy}, #{createAt}, #{updateBy}, #{updateAt})
    </insert>

    <update id="updateOne" parameterType="com.huawei.fit.jober.aipp.po.AppBuilderFormPO">
        update app_builder_form
        <set>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="appearance != null" >
                appearance = #{appearance}::jsonb,
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createAt != null">
                create_at = #{createAt},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from
            app_builder_form
        where id = #{id}
    </delete>
</mapper>