.form-wrap {
  width: 100%;
  color: rgb(37, 43, 58);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .question-item {
    width: 100%;
    margin-bottom: 16px;
    .inner {
      display: flex;
      align-items: center;
    }
  }
  .save-button {
    background-color: rgb(4, 123, 252);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    border-color: white;
    width: 60px;
    height: 32px;
    margin: auto;
  }
  .thumb {
    width: 100%;
    min-height: 200px;
    border: 1px dashed #d9d9d9;
    border-radius: 4px;
    padding: 12px;
    font-size: 14px;
    color: #bfbfbf;
    cursor: text;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    .block-bg {
      width: 76%;
      background-color: rgb(245, 245, 245);
      display: inline-block;
      border-radius: 3px;
      &.big {
        width: 92%;
      }
    }
    .block {
      height: 18px;
    }
  }
}