.form-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: rgb(37, 43, 58);
  .report-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    margin-bottom: 12px;
    position: relative;
  }
  .ant-input {
    //border: none !important;
    color: rgb(37, 43, 58);
  }
  .report-query {
    font-size: 16px;
    font-weight: 600;
  }
  .ant-input-disabled {
    border: none !important;
    background-color: white;
    color: rgb(37, 43, 58);
  }
  .report-btn {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .save-button {
    background-color: rgb(4, 123, 252);
    border-radius: 4px;
    font-size: 14px;
    color: white;
    border-color: white;
    width: 60px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}