<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huawei.fit.jober.taskcenter.dao.TaskSourceScheduleMapper">
    <resultMap id="objectMap"
               type="com.huawei.fit.jober.taskcenter.dao.po.TaskSourceScheduleObject">
        <id column="id" property="id"/>
        <result column="fitable_id" property="fitableId"/>
        <result column="interval" property="interval"/>
        <result column="filter" property="filter"/>
    </resultMap>

    <sql id="table">task_source_schedule</sql>

    <sql id="columns">id
    , fitable_id, "interval", filter</sql>

    <insert id="insert">
        INSERT INTO<include refid="table"/>(<include refid="columns"/>) VALUES(#{id}, #{fitableId}, #{interval},
        #{filter})
    </insert>

    <select id="select" resultMap="objectMap">
        SELECT<include refid="columns"/>FROM<include refid="table"/>WHERE id = #{sourceId}
    </select>

    <delete id="delete">
        DELETE FROM<include refid="table"/>WHERE id = #{sourceId}
    </delete>

    <select id="selectBySourceIds" resultMap="objectMap">
        SELECT<include refid="columns"/>FROM<include refid="table"/>WHERE id IN
        <foreach item="sourceId" collection="sourceIds" open="(" separator="," close=")">#{sourceId}</foreach>
    </select>

    <insert id="batchInsert">
        INSERT INTO<include refid="table"/>(<include refid="columns"/>) VALUES
        <foreach collection="taskSourceScheduleObjects" item="item" index="index" separator=",">
            (#{item.id},#{item.fitableId},#{item.interval},#{item.filter})
        </foreach>
    </insert>

    <delete id="batchDelete">
        DELETE FROM<include refid="table"/>WHERE id IN
        <foreach item="id" collection="ids" open="(" separator="," close=")">#{id}</foreach>
    </delete>
</mapper>