<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.fit.jober.dataengine.persist.mapper.TimeSchedulerMapper">
    <resultMap id="timeSchedulerResultMap" type="modelengine.fit.jober.dataengine.persist.po.TimeSchedulerPo">
        <id column="scheduler_id" property="schedulerId"/>
        <result column="task_definition_id" property="taskDefinitionId"/>
        <result column="task_source_id" property="taskSourceId"/>
        <result column="task_type_id" property="taskTypeId"/>
        <result column="scheduler_data_type" property="schedulerDataType"/>
        <result column="source_app" property="sourceApp"/>
        <result column="create_time" property="createTime"/>
        <result column="end_time" property="endTime"/>
        <result column="scheduler_interval" property="schedulerInterval"/>
        <result column="latest_executor_time" property="latestExecutorTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="filter" property="filter"/>
        <result column="properties" property="properties"/>
        <result column="owner_address" property="ownerAddress"/>
    </resultMap>

    <sql id="table">time_scheduler</sql>

    <sql id="columns">
        scheduler_id,
        task_definition_id,
        task_source_id,
        task_type_id,
        scheduler_data_type,
        source_app,
        create_time,
        end_time,
        scheduler_interval,
        latest_executor_time,
        modify_time,
        filter,
        properties,
        owner_address</sql>

    <insert id="create">
        INSERT INTO
        <include refid="table"/>
        (<include refid="columns"/>)
        VALUES (#{scheduler.schedulerId},
        #{scheduler.taskDefinitionId},
        #{scheduler.taskSourceId},
        #{scheduler.taskTypeId},
        #{scheduler.schedulerDataType},
        #{scheduler.sourceApp},
        #{scheduler.createTime},
        #{scheduler.endTime},
        #{scheduler.schedulerInterval},
        #{scheduler.latestExecutorTime},
        #{scheduler.modifyTime},
        #{scheduler.filter}::jsonb,
        #{scheduler.properties}::jsonb,
        #{scheduler.ownerAddress})
    </insert>

    <update id="update">
        UPDATE
        <include refid="table"/>
        SET task_definition_id = #{scheduler.taskDefinitionId},
        task_source_id = #{scheduler.taskSourceId},
        task_type_id = #{scheduler.taskTypeId},
        scheduler_data_type = #{scheduler.schedulerDataType},
        source_app = #{scheduler.sourceApp},
        create_time = #{scheduler.createTime},
        end_time = #{scheduler.endTime},
        scheduler_interval = #{scheduler.schedulerInterval},
        latest_executor_time = #{scheduler.latestExecutorTime},
        modify_time = #{scheduler.modifyTime},
        filter = #{scheduler.filter}::jsonb,
        properties = #{scheduler.properties}::jsonb,
        owner_address = #{scheduler.ownerAddress}
        WHERE scheduler_id = #{scheduler.schedulerId}
    </update>

    <select id="find" resultMap="timeSchedulerResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE scheduler_id = #{schedulerId}
    </select>

    <delete id="delete">
        DELETE FROM
        <include refid="table"/>
        WHERE scheduler_id = #{schedulerId}
    </delete>

    <select id="findAll" resultMap="timeSchedulerResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
    </select>

    <select id="queryByTaskSourceId" resultMap="timeSchedulerResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table"/>
        WHERE task_source_id = #{taskSourceId}
    </select>
</mapper>