.mashup-add-drawer {
  .mashup-add-tab {
    display: flex;
    margin-bottom: 6px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px 16px 8px 16px;
      border: 1px solid rgb(230, 230, 230);
      color: rgb(26, 26, 26);
      border-radius: 4px;
      margin-right: 12px;
      cursor: pointer;
      img {
        margin-right: 6px;
      }
    }
    .active {
      border-color: rgb(38, 115, 229);
    }
  }
  .mashup-add-tablist {
    padding: 0 4px;
  }
  .knowledge-search {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .ant-input-group-addon {
      button {
        margin: 0;
      }
    }
    .ant-btn {
      border-radius: 23px;
    }
  }
  .knowledge-check-info {
    margin: 20px 0;
    max-height: 200px;
    overflow: auto;
    .info {
      display: flex;
      .info-left {
        width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .info-right {
        flex-grow: 1;
        margin-left: 16px;
        .ant-tag {
          margin-bottom: 12px;
          max-width: unset;
        }
      }
    } 
  }
  .knowledge-check-list {
    display: flex;
    .knowledge-left {
      width: 400px;
      flex-shrink: 0;
      .item-title {
        padding-left: 16px;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 16px;
        font-size: 16px;
        font-weight: 600;
        margin-right: 12px;
      }
      .item {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 48px;
        border-bottom: 1px solid #f2f2f2;
        >span {
          max-width: 300px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: 600;
          margin-left: 16px;
        }
        .active {
          color: #2673e5;
          font-weight: 600;
        }
      }
      .item-inner {
        max-height: 450px;
        min-height: 200px;
        overflow: auto;
        padding-right: 12px;
      }
      .item-page {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 12px;
        .ant-pagination {
          .ant-pagination-item-link {
            margin: 0;
          }
        }
      }
    }
    .knowledge-right {
      flex-grow: 1;
      margin-left: 6px;
      .knowledge-details {
        width: 100%;
        display: flex;
        .left {
          width: 100px;
          height: 100px;
          display: flex;
          flex-shrink: 0;
          justify-content: center;
          align-items: center;
          img {
            width: 70px;
            height: 70px;
          }

        }
        .right {
          flex: 1;
          margin-left: 16px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          >div {
            width: 100%;
          }
          .knowledge-title {
            font-weight: 700;
            font-size: 18px;
            color: #1A1A1A;
            width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .knowledge-desc {
            width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .table-page {
        margin-top: 12px;
      }
    }
  }
}
.add-knowledge-card {
  display: flex;
  flex-wrap: wrap;
  .select-card {
    width: 330px;
    height: 188px;
    padding: 24px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    margin: 24px 20px 0px 0px;
    .title-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .konwledge-name{
        font-size: 20px;
      }
    }
    .knowledge-size {
      font-size: 12px;
    }
    .title-box-bottom {
      margin-bottom: 12px;
    }
    .knowledge-size-bottom {
      margin-bottom: 16px;
    }
    .flex-end{
      display: flex;
      justify-content: flex-end;
    }
  }
  .card-description {
    height: 38px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.card-ellipsis {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-data-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.pagination-footer{
  margin-top: 16px;
}
.drawer-footer {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0 5px;
  }
}
.ant-modal-body {
  .tool-modal-search {
    >button {
      margin: 0 5px;
      border-radius: 23px;
    }
  }
}