.react-node-header {
    margin-bottom: 16px;
    user-select: none;
}

.react-node-toolbar {
    display: flex;
}

.react-node-toolbar-name {
    display: flex;
    flex-direction: row;
    flex: 1 2;
    font-size: 14px;
    height: 24px;
    align-items: center; /* 垂直居中对齐 */
    justify-content: flex-start;
}

.react-node-header-description {
    color: rgba(28, 29, 35, .6);
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;
}