.http-field-name-input {
    /* 属性 1=默认 */
    position: static;
    width: 100px !important;
    height: 32px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8;
    padding: 0 10px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;

    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;

    /* 文字颜色/白色文字，#FFFFFF */
    background: rgb(255, 255, 255);
}

.http-field-type-select {
    /* 属性 1=默认 */
    position: static;
    width: 138.5px;
    height: 32px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8;
    padding: 0 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;

    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;

    /* 文字颜色/白色文字，#FFFFFF */
    background: rgb(255, 255, 255);
}

.http-field-value {
    /* 属性 1=默认 */
    position: static;
    width: 138.5px !important;
    height: 32px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8;
    padding: 0px 10px 0px 10px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;

    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;

    /* 文字颜色/白色文字，#FFFFFF */
    background: rgb(255, 255, 255);
}

.delete-btn {
    margin-left: 8px !important;
}

.request-config-authentication-btn-wrapper {
    height: 16px;
    /* 自动布局 */
    display: flex;
    align-items: center;
    margin-right: 16px !important;
}

.http-config-authentication-text {
    position: static;
    height: 14px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 4px;

    color: rgb(37, 43, 58);
    font-family: HarmonyOS Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
}

.request-config-timeout-wrapper {
    width: 99px;
    height: 24px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto
}

.request-config-timeout-text {
    position: static;
    width: 48px;
    height: 18px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 8px;


    /* Text/文本3 */
    color: rgb(77, 77, 77);
    font-family: Huawei Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.request-config-input-number {
    width: 43px !important;
    height: 24px;
    /* 自动布局 */
    display: flex;
    align-items: center;
    margin: 0 8px !important;

    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px !important;
}

.request-url-config-wrapper {
    /* 自动布局 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4;
    padding: 0 8px 0 8px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.http-config-request-mode-title {
    /* 请求方式 (通用/Label必填-非必填) */
    position: static;
    width: 48px;
    height: 18px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 4px;

    /* Text/Error text-文本 */
    color: rgb(77, 77, 77);
    font-family: Huawei Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
}

.http-method-select {
    /* 属性 1=默认 */
    position: static;
    width: 88px !important;
    height: 32px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;

    box-sizing: border-box;
    border-radius: 4px 0px 0px 4px;

    /* 文字颜色/白色文字，#FFFFFF */
    background: rgb(255, 255, 255);
}


.http-method-url-input {
    /* 属性 1=默认 */
    width: 320px !important;
    height: 32px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8;
    padding: 0 10px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;

    box-sizing: border-box;
    border-left-width: 0 !important;
    border-radius: 0px 4px 4px 0px;
    /* 文字颜色/白色文字，#FFFFFF */
    background: rgb(255, 255, 255);
}

.authentication-close-button {
    width: 16px;
    height: 16px;
}

.authentication-drawer .ant-drawer-content-wrapper .ant-drawer-wrapper-body .ant-drawer-footer {
    border-top: none;
    padding-bottom: 24px;
    padding-right: 24px;
}

.authentication-modal .ant-modal-content {
    border-radius: 8px !important;
}

.authentication-modal .ant-modal-header {
    border-bottom: none;
}

.authentication-modal .ant-modal-footer {
    border-top: none;
}

.authentication-radio-group-wrapper {
    width: 408px;
    height: 42px;
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0;
}

.authentication-api-key-radio-group-wrapper.authentication-api-key-radio-group-wrapper {
    /* 自动布局 */
    display: flex;
}

/* 清除 Radio Button 的 ::before 伪元素 */
.ant-radio-button-wrapper::before {
    content: none !important;
}

/* 设置 Radio Button 的边框样式 */
.ant-radio-button-wrapper {
    border: none; /* 取消原有的边框 */
    border-left-width: 1px !important;
}

.auth-type-button {
    height: 42px;
    border-radius: 4px !important;
}

.empty-icon {
    width: 12px;
    height: 12px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 10px;
}

.api-key-icon {
    /* 密匙 */
    position: static;
    width: 16px;
    height: 16px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 8px;
}

.radio-button-text {
    width: 14px;
    height: 16px;
    color: rgb(37, 43, 58);
    font-family: HarmonyOS Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
}

.authentication-modal-radio-group-title {
    height: 18px;
    /* 自动布局 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 3px;

    color: rgb(77, 77, 77);
    font-family: Huawei Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-align: justify;
}

.authentication-modal-title {
    color: rgb(26, 26, 26);
    font-family: Huawei Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.add-param-wrapper {
    height: 21px !important;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 12px;
}

.add-param-button-style {
    height: 21px !important;
    display: flex !important;
    align-items: center !important;
}

.add-param-btn {
    height: 21px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    /* Inside Auto Layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.add-param-text {
    height: 21px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 9px;
    color: rgb(26, 26, 26);
    font-family: Huawei Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
}

.raw-text-textarea-input {
    height: 148px !important;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 4px 0 !important;

    box-sizing: border-box;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;

    color: rgb(26, 26, 26);
    font-family: Huawei Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}