.config-wrap {
  width: 100%;
  overflow: auto;
  font-size: 12px;
  padding-top: 0;
  .site-collapse-custom-panel {
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 8px !important;
    background: #f7f7f7;
    .panel-label, .ant-collapse-header-text {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #000;
    }
    .ant-collapse-header {
      padding: 0px !important;
      .ant-collapse-arrow {
        vertical-align: 1px !important;
      }
    }
    .ant-switch {
      width: 40px;
      height: 20px;
      .ant-switch-handle {
        width: 16px;
        height: 16px;
      }
    }
    .ant-slider-with-marks {
      margin-bottom: 20px;
    }
    .ant-slider-rail {
      background-color: #e6e6e6;
    }
  }
  .config-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .enter-workflow {
    width: 100%;
    height: 64px;
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    color: #2673E5;
    border: 2px solid rgba(38, 115, 229, 0.12);
    border-radius: 4px;
    background-color: #F0F2F4;
    cursor: pointer;
    font-size: 14px;
  }
  .ant-form-item-control {
    width: 100%;
  }
  .ant-collapse .ant-collapse-item .ant-collapse-header {
    padding-left: 0;
    padding-bottom: 8px;
    padding-top: 0;
  }
  .ant-select {
    font-size: 12px;
    color: #252B3A;
  }
  .ant-input-number .ant-input-number-input {
    color: #252B3A;
  }
  .ant-select-single .ant-select-selector {
    font-size: 12px;
    color: #252B3A;
  }
  .ant-select-outlined.ant-select-multiple .ant-select-selection-item {
    background-color: rgb(248 248 248);
  }
  .ant-input {
    font-size: 12px;
    color: #252B3A;
  }
  .ant-card {
    background: #fcfcfd;
    color: #252B3A;
  }
  .ant-form-item-label>label {
    font-size: 12px;
  }
  .ant-form-item .ant-form-item-explain {
    font-size: 12px;
  }
  .ant-collapse-header {
    padding-left: 0;
  }
  .control-container {
    border-radius: 8px;
    position: relative;
    color: #252B3A;
  }
  .llm-container {
    border-radius: 12px;
    border: 0;
    .generate-btn {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      img {
        cursor: pointer;
      }
    }
  }
  .control-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 12px;
    .control-title {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #808080;
    }
    &.c-header {
      position: absolute;
      left: 8px;
      top: -16px;
      background: white;
      padding: 0 10px 0 5px;
    }
  }
  .control-inner {
    &.inner-list {
      max-height: 264px;
      overflow-y: auto;
    }
    .item-container {
      &:last-child {
        margin-bottom: 0px;
      }
      margin-bottom: 16px;
    }
    .item {
      &:last-child {
        margin-bottom: 0px;
      }
      display: flex;
      height: 40px;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid rgb(230, 230, 230);
      justify-content: space-between;
      background-color: white;
      .item-left {
        display: flex;
        align-items: center;
        flex: 1;
        width: 0;
        .text {
          display: inline-block;
          width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        img {
          margin-right: 8px;
        }
      }
      .text {
        flex: 1;
        width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .not-exist {
      color: #C63939;
    }
    .no-data {
      display: flex;
      padding: 16px;
      justify-content: center;
      align-items: center;
      color: #808080;
    }
  }
  .plus-icon {
    position: relative;
    margin-top: 2px;
    color: #047bfc;
    vertical-align: 0rem;
  }
  .title-icon {
    margin-right: 6px;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #e4e4e7;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .full-border .ant-select-selector {
    border-width: 1px !important;
  }
  .no-right-radius .ant-select-selector {
    border-radius: 8px 0px 0px 8px !important;
  }
  .ant-input,
  .ant-input-number {
    &.no-left-radius {
      border-radius: 0px 8px 8px 0;
    }

    &.no-right-radius {
      border-radius: 8px 0px 0px 8px;
    }
  }
  .ant-form-item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    color: #252B3A;
  }
  .ant-select-multiple .ant-select-selection-item {
    border-radius: 8px;
  }
  .empty-container {
    display: flex;
    align-items: center;

    .ant-btn {
      padding: 0;
      margin: 0;
    }
  }
  .panel-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .panel-label-config {
      display: flex;
      align-items: center;
      span {
        margin-right: 6px;
      }
      img {
        margin-top: 2px;
      }
    }
    .panel-add {
      width: 89px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .not-allowed{
      cursor: not-allowed;
    }
  }
  .ant-card-bordered {
    box-shadow: 0 2px 7px 0px rgba(37, 43, 58, 0.12);
    border: 1px solid #f5f5f5;
  }
  .ant-card-bordered:hover {
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.15);
  }
  .ant-switch.ant-switch-checked {
    background-color: #0478fc;
  }
  .ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background-color: #0478fc;
  }
}
.version-preview {
  visibility: hidden;
}
