.live-upload-trigger-container {
  position: relative;
  width: 100%;
  padding-right: 28px;
  overflow: hidden;
  border-radius: 6px;
  color: #1a1a1a;
  background-color: initial;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}
