.plugin-card{
   padding: 24px 24px 0;
   width: 380px;
   height: 260px;
   background: url(/src/assets/images/knowledge/knowledge-background.png);
   background-position: center;
   display: flex;
   flex-direction: column;
   gap:16px;
   border: 1px solid #ebebeb;
   border-radius: 8px;
   margin-bottom: 10px;
   .plugin-card-header{
    display: flex;
    gap:16px;
    align-items: flex-start;
   }
   .plugin-card-user{
    display: flex;
    gap:4px;
    align-items: center;
    flex-wrap: wrap;
   }
}

.card-content{
    word-break: break-all;
    line-height: 22px;
    text-align: justify;
    height: 100%;
    overflow-y: auto;
}
.card-footer{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    gap:32px;
    border-top: 1px solid #ebebeb;
    color: #808080;
    align-items: center;
}

.footer-type{
    border-radius: 10px;
}

.footer-more{
    font-size: 24px;
    color: #000000;
}