.plugin-card{
   padding: 24px 24px 0;
   width: 380px;
   height: 260px;
   background-position: center;
   display: flex;
   flex-direction: column;
   gap:16px;
   border: 1px solid #ebebeb;
   border-radius: 8px;
   margin-bottom: 10px;
   .plugin-card-header{
    display: flex;
    gap:16px;
    align-items: center;
    .plugin-title {
      display: flex;
      .plugin-head {
        font-size: 20px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        .text {
          display: inline-block;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .plugin-text {
          max-width: 240px;
        }
      }
    }
    img {
      width: 52px;
      height: 52px;
    }
   }
   .plugin-card-user{
    display: flex;
    gap:8px;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(107 107 107);
    img {
      border-radius: 50%;
    }
   }
}

.card-content{
  line-height: 22px;
  display: block;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-footer{
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  gap:32px;
  color: #808080;
  align-items: center;
}

.footer-type{
  border-radius: 10px;
}

.version{
    border-radius: 10px;
    margin-left: 8px;
}

.footer-more{
  font-size: 24px;
  color: #000000;
}