.import-data-wrapper {
  display: flex;
  gap: 16px;
  flex-grow: 1;
  .aui-block {
    flex-grow: 1;
    height: calc(100% - 12px);
  }
}

.import-data-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 38px;
  &-form {
    width: 100%;
    flex: 1;
    background: #fff;
  }

  &-footer {
    display: flex;
    justify-content: end,
  }
}

.progress-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #fff;
  position: relative;
  right: 6px;
  bottom: 5px;
}

.progress-dot-wait {
  border-color: #f2f2f2;
}

.progress-dot-finish {
  border-color: #1677ff;
}

.progress-dot-process {
  border-color: #1677ff;
}

.progress-dot-finish {
  border:none;
}

