.appengine-run-img {
  position: absolute;
  background-color: #ffffff;
  right: 30px;
  top: 90px;
  z-index: 999;
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
}