.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.updateDivLine {
  opacity: 0.3;
  margin-top: 20px;
}

.modal {
  min-width: 600px;
}

.contentSpin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  max-height: 500px;
}

.updateContent {
  min-height: 300px;
  max-height: 500px;
  overflow: scroll;
}

.updateItem {
  margin-top: 20px;
  padding-right: 10px;
}

.itemTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 900;
}

.desc {
  padding-left: 20px;
}