.apps_root{
  * {
    box-sizing: border-box;
  }
  height: calc(100vh - 50px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .apps_header{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .apps_title{
      font-size: 20px;
      color: #1a1a1a;
      line-height: 1.5;
      font-weight: normal;
    }
  }
  .apps_main{
    height: calc(100% - 50px);
    min-width: 1400px;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    .tabs{}
    .operatorArea{
      display: flex;
      align-items: center;
    }
    .card_list {
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
      .card_box {
        width: 24%;
        height: 260px;
        margin-right: 1%;
        margin-bottom: 16px; 
      }
    }
    .page_box{
      padding-top: 10px;
      height: 40px;
      line-height: 40px;
      width: 100%;
    }
  }
}