.footer {
  height: 320px;
  background: linear-gradient(180deg, rgb(253, 252, 252), rgba(255, 255, 255, 0));
  margin-top: 60px;
  display: flex;
  color: rgb(26, 26, 26);
  .footer-item {
    flex: 1;
    padding: 48px;
    .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 20px;
    }
    .industry-container {
      .industry {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 12px;
        .icon {
          margin-right: 8px;
        }
        .name {
          margin: 0 8px;
          font-size: 16px;
        }
      }
    }
    .about-us {
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      line-height: 26px;
      color: rgb(26, 26, 26);
    }
    .contact-us {
      text-align: left;
      .contact {
        margin-top: 20px;
        .contact-title {
          font-weight: 700;
          font-size: 14px;
          display: flex;
          align-items: center;
          img {
            width: 16px;
            height: 16px;
            margin-right: 6px;
          }
        }
      }
      .contact-us-qr {
        display: flex;
        .qr-inner {
          margin-right: 36px;
          .name {
            text-align: center;
          }
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}