.jade-input-tree-title .ant-row {
    display: flex;
    width: 100%;
}

.jade-input-tree-title-child {
    height: 32px;
    display: flex;
}

.jade-input-tree-title-key {
}

.jade-input-tree-title-from {
    margin-left: 8px;
}

.jade-input-tree-title-select .ant-select-selector {
    border-radius: 8px 0 0 8px;
}

.jade-input-tree-title-tree-select .ant-select-selector {
    border-radius: 0 8px 8px 0;
}

.jade-ant-tree .ant-tree {
    background: #f2f2f2
}