.chat-message-container {
  width: 100%;
  height: calc(100% - 270px);
  margin: 15px auto;
  margin-top: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
  .message-box {
    width: 900px;
    padding: 0 48px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
  }
}
.group-active {
  height: calc(100% - 190px);
  .message-box {
    margin-top: 60px;
    width: 940px;
    .send-box {
      background-color: #252b3a0d;
      padding-top: 16px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      .send-info {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    .recieve-box {
      margin-bottom: 12px;
      background-color: #252b3a0d;
      padding-left: 24px;
      margin-top: 0;
      padding-bottom: 20px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
