.chat-details-content {
  padding: 0 48px;
  margin: 0 auto;
  margin-top: 50px;
  .top {
    text-align: center;
    .head {
      margin-top: 20px;
      margin-bottom: 12px;
      img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
      }
    }
    .title {
      color: #252B3A;
      font-size: 18px;
      margin: 4px 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .text {
      margin: 10px auto;
      font-size: 14px;
      line-height: 26px;
      color: #71757F;
      word-break: break-all;
      text-align: left;
    }
  }

  .middle {
    margin-top: 40px;
    width: 100%;
    .middle-top {
      color: #71757F;
      display: flex;
      justify-content: space-between;
      .refersh {
        display: flex;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        height: 16px;
        img {
          width: 16px;
          height: 100%;
          margin-right: 8px;
        }
        &:hover {
          color: #0478fc;
          img {
            filter: drop-shadow(#047bfc 0 32px);
            transform: translateY(-32px);
          }
        }
      }
    }
    .middle-content {
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      .content-item {
        width: 32%;
        height: 96px;
        margin-bottom: 16px;
        border-radius: 8px;
        background-color: #ffffff;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid transparent;
        span {
          display: block;
        }
        .item-left {
          margin-right: 16px;
          img {
            width: 48px;
            height: 48px;
            border-radius: 6px;
          }
        }
        .item-right {
          color: #252B3A;
          font-size: 16px;
          display: flex;
          align-items: center;
          width: calc(100% - 48px);
          flex-wrap: wrap;
          span {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .name {
            font-size: 16px;
            color: #252B3A;
          }
          .desc {
            font-size: 14px;
            color: #71757F;
            margin: 8px 0;
          }
          .type {
            font-size: 12px;
            color: #71757F;
            display: flex;
            align-items: center;
            img {
              height: 12px;
              width: 12px;
              margin-right: 4px;
            }
          }
        }
        .item-bottom {
          font-size: 14px;
          color: #71757F;
          line-height: 32px;
        }
        &:nth-child(3n + 2) {
          margin-left: 2%;
          margin-right: 2%;
        }
        &:hover {
          border-color: #0478fc;
        }
        &:active {
          background-color: rgb(230, 242, 255);
        }
      }
    }
  }
  .bottom {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    .left {
      margin-right: 16px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    .right {
      padding: 16px;
      border-radius: 8px;
      background-color: #ffffff;
      color: #252B3A;
      line-height: 24px;
      text-align: left;
      font-size: 14px;
      word-break: break-all;
    }
  }
  .home-top {
    .head-inner {
      display: flex;
      align-items: center;
      .inner-left {
        .title {
          font-size: 48px;
          line-height: 72px;
          font-weight: 700;
          background: linear-gradient(to right, #3388FF, #00F0FF);
          -webkit-background-clip: text;
          color: transparent;
        }
        .sub-title {
          font-size: 32px;
          color: #1A1A1A;
          line-height: 48px;
          font-weight: 500;
          margin-bottom: 16px;
          margin-top: 4px;
        }
        .desc {
          font-size: 20px;
          color: #1A1A1A;
          line-height: 30px;
          font-weight: 400;
        }
      }
      .inner-right {
        margin-left: 120px;
        border-radius: 50%;
        background-color: #adbfdd;

      }
      .inner-right-chat {
        width: 350px;
        background-color: #f6fafd;
        padding: 24px;
        border-radius: 8px;
        position: relative;
        margin-left: 40px;
        margin-top: -100px;
        &::after {
          content: '';
          position: absolute;
          top: 110px;
          left: 30px;
          border-top: 10px solid #f6fafd;
          border-right: 10px solid transparent;
          border-left: 10px solid transparent;
        }
      }
    }

    .head-nav {
      display: flex;
      margin-top: 90px;
      color: #1A1A1A;

      >div {
        height: 175px;
        box-sizing: border-box;
        padding: 32px;
        border-radius: 8px;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border-color: #fff;
          background: linear-gradient(45deg, #dff1f8 27%, #a3d4fc 90%);
        }

        .nav-title {
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
        }

        .nav-desc {
          margin-top: 18px;
          font-size: 14px;
          line-height: 22px;
          font-weight: 400;
        }
      }

      .tag-home-page {
        position: absolute;
        top: -25px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      .nav-left {
        position: relative;
        background-image: linear-gradient(180deg, rgba(247, 252, 255, 0.90) 27%, rgba(241, 247, 255, 0.90) 90%);
      }

      .nav-right {
        position: relative;
        margin-left: 16px;
        background-image: linear-gradient(180deg, rgba(247, 252, 255, 0.90) 27%, rgba(241, 247, 255, 0.90) 90%);
        transition: background-image 0.5s ease;
      }

      .nav-item-active {
        border-color: #fff;
        background: linear-gradient(45deg, #dff1f8 27%, #a3d4fc 90%);
      }
    }
  }
}