.message-check-toolbox-wrap {
  width: 940px;
  margin: auto;
}
.message-check-toolbox {
  width: 100%;
  height: 82px;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px 16px;
  box-shadow: 0 4px 16px 0 rgba(37, 43, 58, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: absolute;
  .message-check-toolbox-right {
    display: flex;
    align-items: center;
    .message-check-toolbox__num {
      font-size: 14px;
      color: #252b3a;
      font-family: '苹方-简';
      line-height: 20px;
      .group-btn {
        margin-left: 10px;
      }
    }
  }
  .message-check-toolbox__title {
    font-weight: 600;
    font-size: 16px;
    color: #252b3a;
    font-family: '苹方-简';
    line-height: 22px;
  }
  .message-check-toolbox__tips {
    font-family: '苹方-简';
    font-weight: 400;
    font-size: 14px;
    color: #71757f;
    line-height: 20px;
  }
}
@media screen and (max-width: 1700px) {
  .message-check-toolbox-wrap {
    width: 840px !important;
    left: calc(50% - 420px);
  }
}
@media screen and (max-width: 1600px) {
  .message-check-toolbox-wrap {
    width: 940px !important;
    left: calc(50% - 470px);
  }
}
@media screen and (max-width: 1400px) {
  .message-check-toolbox-wrap {
    width: 700px !important;
    left: calc(50% - 350px);
  }
}