.app_card_root-spa,
.plugin-card-spa,
.page-plugin-card-spa {
  background-image: url('/apps/appengine/src/assets/images/knowledge/knowledge-background.png');
}
.add-knowledge-card-spa {
  .select-card {
    background-image: url('/apps/appengine/src/assets/images/knowledge/knowledge-background.png');
  }
}
.tool-modal-content-spa {
  .content-left {
    .left-item {
      background-image: url('/apps/appengine/src/assets/images/knowledge/knowledge-background.png');
    }
  }
}
.search-list-spa {
  .selected-node {
    &::after {
      background-image: url('/apps/appengine/src/assets/images/selected.png');
    }
  }
}
.share-content-spa {
  background-image: url('/apps/appengine/src/assets/images/bg.png');
}
.send-editor-container-spa {
  .editor-inner {
    .editor-input {
      .send-btn { 
        background-image: url('/apps/appengine/src/assets/images/ai/empty_send.svg');
        &.active-btn {
          background-image: url('/apps/appengine/src/assets/images/ai/send_btn.svg');
          &:hover {
            background-image: url('/apps/appengine/src/assets/images/ai/send_hover_btn.svg');
          }
        }
      }
    }
  }
}
.btn-inner-spa {
  .inner-item {
    .item-upload {
      background-image: url('/apps/appengine/src/assets/images/ai/upload_icon.svg');
      &:hover {
        background-image: url('/apps/appengine/src/assets/images/ai/upload_icon_active.svg');
      }
    }
    .item-share {
      background-image: url('/apps/appengine/src/assets/images/ai/share.svg');
      &:hover {
        background-image: url('/apps/appengine/src/assets/images/ai/share_active.svg');
      }
    }
    .item-clear {
      background-image: url('/apps/appengine/src/assets/images/ai/new-chat.png');
      &:hover {
       background-image: url('/apps/appengine/src/assets/images/ai/new-chat-active.png');
      }
    }
  }
}
.configuration-tooltip-spa {
  .configuration-title {
    &::before {
      background-image: url('/apps/appengine/src/assets/images/conversation.svg');
    }
  }
  .ant-form-item {
    &.is-required {
      &::after {
        background-image: url('/apps/appengine/src/assets/images/required.svg');
      }
    }
  }
}
.configuration-icon-spa {
  background-image: url('/apps/appengine/src/assets/images/ai/configuration_icon.svg');
  &:hover {
    background-image: url('/apps/appengine/src/assets/images/ai/configuration_icon_active.svg');
  }
}
.source-word {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url('/apps/appengine/src/assets/images/source/sourceEven.png');
  &:hover {
    background-image: url('/apps/appengine/src/assets/images/source/sourcehover.png');
  }
}
.source-word-click {
  background-image: url('/apps/appengine/src/assets/images/source/sourcehover.png');
}
.app-analyzed-spa {
  height:calc(100vh - 190px);
  .card {
    background-image: url('/apps/appengine/src/assets/images/knowledge/knowledge-background.png') !important;
  }
}
.chat-inner-spa,
.home-chat-spa,
.home-app-spa {
  background-image: url('/apps/appengine/src/assets/images/bg3.png');
}
.apps_root-spa {
  height: calc(100vh - 50px);
}
.app-fullpage-spa {
  height: calc(100vh - 50px);
  padding-top: 0;
  .plugin-detail-list {
    height: calc(100vh - 100px);
  }
  .market-block {
    height: calc(100vh - 100px);
  }
}
.chat-page-inner-spa {
  .chat-inner-left {
    height: calc(100vh - 50px) !important;
  }
  .chat-right-close {
    height: calc(100vh - 50px) !important;
  }
}
.chat-running-full {
  .chat-page-inner-spa {
    .chat-inner-left {
      height: 100vh !important;
    }
    .chat-right-close {
      height: 100vh !important;
    }
  }
}
.chat-inner-spa {
  .chat-inner-left {
    height: calc(100vh - 150px);
  }
  .chat-inner-right {
    height: calc(100vh - 150px);
  }
}
.ant-layout {
  .layout-content-spa {
    height: calc(100vh - 120px);
  }
}
.layout-elsa-content {
  .layout-content-spa {
    height: calc(100vh - 50px);
  }
}