@font-face {
  font-family: "PingFangSC";
  src: url("@assets/font/font.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // font-family: 'Chinese Quote', 'Segoe UI', Roboto, PingFangSC, 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*整个滚动条*/
::-webkit-scrollbar {
  height: 6px;
  background-color: transparent;
}

/*水平的整个滚动条*/
::-webkit-scrollbar:horizontal {
  height: 6px;
}

/*水平的滑块*/
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 4px;
  background: #cccccc;
  cursor: pointer;
}

/*垂直的整个滚动条*/
::-webkit-scrollbar:vertical {
  width: 5px;
}

/*垂直的滑块*/
::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}
#chat-list-dom::-webkit-scrollbar-thumb:vertical {
  border-radius: 4px;
  background: #cccccc !important;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
  cursor: pointer;
}

/*滚动条轨道*/
// ::-webkit-scrollbar-track:horizontal {
//   height: 8px;
// }

/*边角*/
// ::-webkit-scrollbar-corner{
//   border:1px solid #dce4f3;
// }

html {
  width: 100%;
  height: 100%;
  line-height: 1.15;
  --antd-wave-shadow-color: #25b864;
  --scroll-bar: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: overlay;
}

body {
  height: 100%;
  width: 100% !important;
  margin: 0 !important;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  width: 100%;
  background: #fafafa;
  scroll-behavior: smooth;
  color: #070709;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overscroll-behavior-x: none;
  overflow-y: hidden;
}

:where(.css-dev-only-do-not-override-1drr2mu).buttonDroup.ant-radio-button-wrapper:not(:first-child)::before {
  display: none;
}
:where(.css-dev-only-do-not-override-1drr2mu).buttonDroup.ant-radio-button-wrapper:not(:first-child) {
  border-left-width: 1px;
}

a {
  color: #6c92fa;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

blockquote {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 1em;
  margin-left: 0px;
  border-left: 3px solid #eee;
  color: #8c8c8c;
}

// table {
//   border-collapse: collapse;
// }

input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border-radius: 3px;
  border: 0;
  outline: none;
  border: 1px solid #ddd;
}

input:focus {
  border: 0;
  outline: none;
  border: 1px solid #ddd;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace, sans-serif;
  font-size: 14px !important;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px 2px;
  line-height: inherit;
  text-indent: 0;
  color: #404040;
  letter-spacing: 0.008em;
  outline-style: none;
  white-space: pre-wrap;
}

textarea {
  overflow: auto;
  resize: vertical;
  font-family: inherit;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

// /* 伪元素生成类*/

// .slate-icon-h1::before {
//   content: "H1";
// }
// .slate-icon-h2::before {
//   content: "H2";
// }
// .slate-icon-h3::before {
//   content: "H3";
// }
// .slate-icon-h4::before {
//   content: "H4";
// }
.ant-popover-inner-content {
  padding:8px 0;
}
.ant-tree-node-selected .ant-tree-title span {
  color: #6c92fa !important;
}
.ant-tree-node-selected {
  background-color: #fcfcfc !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: #001529;
  color: #fff;
  height: 46px;
  transition: all 0.5s;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #001529 !important;
}
.ant-menu-item-selected:after {
  background-color: #fff;
  content: '';
  display: block;
  position: absolute;
  left: 12px !important;
  bottom: 0;
  border-radius: 3px;
  width: calc(100% - 24px);
}

.menu .ant-menu-item-selected:after {
  background-color: #001529;
  opacity: 0!important;
}

.ant-menu-item a::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 12px;
  background-color: transparent;
  content: '';
  width: calc(100% - 24px);
}

.ant-list-item{
  height: 68px !important;
  padding-right: 20px;
  &:hover .user-add {
    visibility: initial;
    opacity: 1;
    transition: opacity 0.5s;
  }
  .user-add {
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
  }
}

.ant-table-filter-column {
  margin: 0;
}

// 隐藏默认的上次结果列表.
.ant-upload-list {
  display: none;
}

.ant-upload.ant-upload-select-picture-card {
  border-radius: 50%;
  width: 96px;
  /* opacity: 1; */
  height: 96px;
  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.15);
}

.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
  background-color: #f2f5fc;
}

.ant-btn.ant-btn-primary, .ant-tabs-ink-bar {
  background: #6c92fa;
}

.ant-avatar {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.ant-avatar > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: inherit;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #6c92fa;
}
.ant-layout {
    background: #fff;
}
.container {
    padding: 0;
}
