<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="modelengine.jade.app.engine.base.mapper.UserFeedbackMapper">
    <resultMap id="BaseResultMap" type="modelengine.jade.app.engine.base.dto.UserFeedbackDto">
        <result column="id" property="id"/>
        <result column="instance_id" property="instanceId"/>
        <result column="usr_feedback" property="userFeedback"/>
        <result column="usr_feedback_text" property="userFeedbackText"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, instance_id, usr_feedback, usr_feedback_text
    </sql>

    <insert id="insert" parameterType="modelengine.jade.app.engine.base.dto.UserFeedbackDto">
        insert into usr_feedback_info (instance_id, usr_feedback, usr_feedback_text)
        values (#{instanceId}, #{userFeedback}, #{userFeedbackText})
    </insert>

    <update id="updateOne" parameterType="modelengine.jade.app.engine.base.dto.UserFeedbackDto">
        update usr_feedback_info
        <set>
            <if test="userFeedback != null">
                usr_feedback = #{userFeedback},
            </if>
            <if test="userFeedbackText != null">
                usr_feedback_text = #{userFeedbackText},
            </if>
        </set>
        where instance_id = #{instanceId}
    </update>

    <delete id="deleteByLogId">
        delete
        from usr_feedback_info
        where instance_id = #{instanceId}
    </delete>

    <select id="getAllUserFeedbacks" resultMap="BaseResultMap" resultType="modelengine.jade.app.engine.base.dto.UserFeedbackDto">
        select
        <include refid="Base_Column_List"/>
        from usr_feedback_info
    </select>

    <select id="getUserFeedbackByInstanceId" resultMap="BaseResultMap" resultType="modelengine.jade.app.engine.base.dto.UserFeedbackDto">
        select
        <include refid="Base_Column_List"/>
        from usr_feedback_info
        where instance_id = #{instanceId}
    </select>

</mapper>